<h1>Mitarbeiter l&ouml;schen</h1>
<p>
Wollen sie den Mitarbeiter <%= @employee.label %> wirklich l&ouml;schen?
</p>
<table>
<tr>
    <td>
    <%= start_form_tag :action => 'deleteEmployee', :id => @employee %>
    <%= submit_tag 'Löschen' %>  
    <%= end_form_tag %>
    </td>
    <td>
    <%= start_form_tag :action => 'listEmployee', :method => 'get' %>
    <%= submit_tag 'Abbrechen' %>  
    <%= end_form_tag %>
    </td>
</td>
</table>    

