<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Edit Eployment </h1>
  <%= form_tag :action => 'updateEmployment', :id => @employment, :employee_id => @employee %>
  <%= render :partial => 'employment' %>
  <%= submit_tag 'Save' %>
  <%= end_form_tag %>
<br/>
<br/>
<%= link_to 'Back', :action => 'showEmployee', :id => @employee %>  