<h1>Editing employee</h1>
<br/>
<%= start_form_tag :action => 'updateEmployee', :id => @employee %>
<%= render :partial => 'form' %>  
<%= end_form_tag %>

<%= link_to 'Back', :action => 'listEmployee' %>
