  <table>
    <tr>
  	  <td>Name: </label></td>
  	  <td><%= text_field 'absence', 'name'  %></td>
    </tr>
    <tr>
      <td>Payed: </td>
      <td><%= check_box 'absence', 'payed' %></td>
    </tr> 
    <tr>
      <td><td><%= submit_tag 'Save' %></td></td>
    </tr>
  </table>