<%= error_messages_for(:absence) %>

<table>
    <tr>
  	  <td>Name: </label></td>
  	  <td><%= text_field 'absence', 'name'  %></td>
    </tr>
    <tr>
      <td>Bezahlt: </td>
      <td><%= check_box 'absence', 'payed' %></td>
    </tr> 
    <tr>
      <td><td><%= submit_tag 'Speichern' %></td></td>
    </tr>
</table>