<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Edit Absence</h1>
<br/>
<%= start_form_tag :action => 'updateAbsence', :id => @absence%>
<%= render :partial => 'form' %>
<%= end_form_tag %>
<br/>
<%= link_to 'Back', :action => 'listAbsence' %>