<h1>Absenz bearbeiten</h1>
<br/>
<%= start_form_tag :action => 'updateAbsence', :id => @absence%>
<%= render :partial => 'form' %>
<%= end_form_tag %>
<br/>
<%= link_to '&Uuml;bersicht', :action => 'listAbsence' %>