-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Absenz erfassen"

#existing
  = render 'existing'

%ul.nav.nav-tabs{role: 'tablist'}
  %li= link_to 'Arbeitszeit', new_ordertime_path(work_date: params[:work_date],other: record_other?)
  %li.active= link_to 'Absenz', '#'

%br/

= render 'form'
