- @title = "Absenz erfassen"

#existing
  = render 'existing'

%ul.nav.nav-tabs.nav-center{role: 'tablist'}
  %li= link_to 'Auftrag', new_projecttime_path(work_date: params[:work_date],other: record_other?)
  %li.active= link_to 'Absenz', '#'

%br/

= render 'form'
