# Git
.git/
.github/
.gitignore
/git-hooks/

# Log- and tempfiles
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep

# Uploads
/storage/*
!/storage/.keep
public/uploads

# Bundler stuff
/.bundle
bin/bundle

# SQLite databases
/db/*.sqlite3
/db/*.sqlite3-journal

# JS stuff
/node_modules
/yarn-error.log

# Docs & .md files
/doc/
*.md
AUTHORS
LICENSE

# Docker
Dockerfile*
docker-compose.yml

# Puma is unhappy without this
!/tmp/pids
/tmp/pids/*
!/tmp/pids/.keep

# Test files
/test/
/spec/

# Lint/tooling config (only used outside Docker)
.haml-lint.yml
.overcommit.yml
.projections.json
.reek.yml
.rubocop.yml
.rubocop_todo.yml
.tool-versions
.yamllint.yaml


/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Local environment variables
.env.local
.envrc

# Local gems
vendor/bundle/**/
