|
= action_link('Projekte', employee_employee_memberships_path(entry))
|
= action_link('Überzeit', employee_overtime_vacations_path(entry) )
|
= action_link('Anstellungen', employee_employments_path(entry))