= render 'crud/actions_edit'

= action_link('Überstunden', employee_overtime_vacations_path(entry) )
= action_link('Beschäftigungsgrade', employee_employments_path(entry))
= action_link('Log', log_employee_path(entry))
