= render_attrs entry,
               :firstname,
               :lastname,
               :shortname,
               :ldapname,
               :email,
               :department_id,
               :probation_period_end_date,
               :initial_vacation_days,
               :management
