= crud_form :firstname,
            :lastname,
            :shortname,
            :email,
            :ldapname,
            :department_id,
            :initial_vacation_days,
            :management

