= crud_table :lastname,
             :firstname,
             :shortname,
             :current_percent,
             :department_id,
             :management,
             :probation_period_end_date do |t|

  - if can?(:manage, OvertimeVacation)
    - t.action_col do |e|
      - link_to('Überstunden', employee_overtime_vacations_path(e) )
  - if can?(:manage, Employment)
    - t.action_col do |e|
      - link_to('Anstellungen', employee_employments_path(e))
