-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= crud_table :lastname,
             :firstname,
             :shortname,
             :current_percent,
             :department_id,
             :management,
             :probation_period_end_date do |t|

  - if can?(:manage, OvertimeVacation)
    - t.action_col do |e|
      - link_to('Überstunden', employee_overtime_vacations_path(e) )
  - if can?(:manage, Employment)
    - t.action_col do |e|
      - link_to('Anstellungen', employee_employments_path(e))
  - if can?(:log, Employment)
    - t.action_col do |e|
      - link_to('Log', log_employee_path(e))
