- @title = 'Passwort ändern'

= form_tag passwd_employees_path do
  %table
    %tr
      %td Altes Passwort:
      %td
        %input#employee_pwd{:name => "pwd", :size => "30", :type => "password"}/
    %tr
      %td Neues Passwort:
      %td
        %input#change_pwd{:name => "change_pwd", :size => "30", :type => "password"}/
    %tr
      %td Bestätigung:
      %td
        %input#change_pwd_confirmation{:name => "change_pwd_confirmation", :size => "30", :type => "password"}/
    %tr
      %td
      %td= submit_tag 'Speichern'

%p= link_to 'Meine Zeit', :controller => 'evaluator'
