<%= alternate_row %>
	<td><%= department.label_verbose %>
	<td><%= link_to 'Mitarbeiterplanung', :controller => 'planning', :action => 'department_planning', :department_id => department %></td>
</tr>