%table.legend
  %tr
    %td{:colspan => "2"}
      %b Legende
  = render( :partial => 'graph/legendItem', :collection => [['Unverplant', '#FFA199'], ['Teilweise verplant', '#FFDE99'], ['Verplant', '#99FFA1'], ['Überplant', 'red'], ['Provisorische Planung', '#99CCFF'], ['Definitive Planung', '#99ABFF'], ['Abwesenheit', '#CCCCFF' ]] )                           |
