- @title = @department.label
= render :partial => 'planning/periodLink', :locals => {:id => @employee}

- unless @graph.employees.present?
  Keine Mitarbeiter gefunden
- else
  %table.absence
    = render :partial => 'planning/header', :locals => { :type => :calendar_week_not_yet_implemented }
    - @graph.employees.each do |employee|
      = render :partial => 'planning/employee_planning_entry', :locals =>{ :user => employee, :employee_planning_graph => @graph.graphFor(employee), :type => :calendar_week_not_yet_implemented}
    = render :partial => 'planning/footer', :locals => {:type => :calendar_week_not_yet_implemented, :first_span => 2}
