-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.form-group
  %label.col-md-2.control-label
    Direkt auf Auftrag buchen
  .col-md-5
    .radio
      %label
        = radio_button_tag(:book_on_order, true, entry.booked_on_order?)
.form-group
  %label.col-md-2.control-label
    Buchungsposition hinzufügen
  .col-md-5
    .radio
      %label
        = radio_button_tag(:book_on_order, false, !entry.booked_on_order?)

%hr