-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%tr
  %td
    .title{title: row.label}
      = link_to_if(can?(:update, row.accounting_post),
                   row.shortnames,
                   edit_order_accounting_post_path(@order, row.accounting_post))
      - if row.accounting_post.closed?
        %span.small geschlossen
      - unless row.accounting_post.billable
        %i.billable-icon.icon-dollar-stroke
    .subtitle{title: row.name}= row.name
    .data-item
      %span.figure= f(row.offered_rate)
      %span.unit CHF/Std.
