- if @cockpit.avarage_rate
  .cockpit-header-item
    Durchschnittlicher Stundenansatz
    .data-line
      %span.figure= f(@cockpit.avarage_rate)
      %span.unit CHF

- if @cockpit.progress
  .cockpit-header-item
    Fortschritt
    .data-item
      %span.figure= f(@cockpit.progress)
      %span.unit %

- if @cockpit.cost_effectiveness_current || @cockpit.cost_effectiveness_forecast
  .cockpit-header-item
    Wirtschaftlichkeit
    .data-item
      - if @cockpit.cost_effectiveness_current
        .cost_effectiveness_current{title: 'Ist-R[h] / Ist[h] x 100'}
          %span.figure-label Aktuell
          %span.figure= f(@cockpit.cost_effectiveness_current)
          %span.unit %
      - if @cockpit.cost_effectiveness_forecast
        .cost_effectiveness_forecast{title: '(Ist[h]-Ist-NV[h]) / Ist[h] x 100'}
          %span.figure-label Prognose
          %span.figure= f(@cockpit.cost_effectiveness_forecast)
          %span.unit %