= render 'orders/header'

.orders-cockpit

  - if @cockpit.accounting_posts.present?
    .cockpit-header
      = render 'cockpit_header'

    .unindented
      .cockpit-table
        = render 'cockpit_table'

  .orders-actions
    - if can?(:create, AccountingPost)
      = add_accounting_post_link(@order)
