- @title = "Anstellungen von #{parent}"

= crud_table :start_date, :end_date, :probation_period_end_date, :percent, :vacation_days_per_year,
  :comment do |t|
  - t.cols.last.html_options[:style] = 'width: 30%'
