- @title = "Beschäftigungsgrade von #{parent}"

= crud_table :start_date,
             :end_date,
             :percent,
             :employment_roles_employments,
             :vacation_days_per_year,
             :comment do |t|
  - t.cols.last.html_options[:style] = 'width: 30%'
