= list_table do |t|
  - t.row_attrs do |e|
    - { class: "invoice-row invoice-row--#{e.status}" }

  - if @order.status.closed?
    - t.sortable_attr(:reference)
  - else
    - t.attr_with_show_link(:reference)

  - t.sortable_attrs :total_amount, :total_hours

  - t.sortable_attr(:manual?, nil, class: 'center')

  - t.sortable_attrs :period, :billing_date, :due_date, :status

  - unless @order.status.closed?
    - standard_table_actions(t)

  - t.action_col do |e|
    - t.table_action_link('time',
                          order_order_services_path(order_id: e.order_id, invoice_id: e.id),
                          title: 'Leistungen anzeigen')
  - if Invoicing.instance
    - t.action_col do |e|
      - t.table_action_link('document',
                            order_invoice_path(order_id: e.order_id, id: e.id, format: :pdf),
                            target: :blank,
                            title: 'PDF anzeigen')
    - t.action_col do |e|
      - if can?(:sync, e)
        - t.table_action_link('chevron-left',
                              sync_order_invoice_path(order_id: e.order_id, id: e.id),
                              title: 'Daten aus Invoicing übernehmen',
                              data: { method: :put })
  - if t.entries.total_pages == 1
    - t.foot do |entries|
      %tr
        %td.text-right
          Total bezahlte:
        %td.text-right
          = format_total_billing_amount(entries)
        %td.text-right
          = format_total_billing_hours(entries)
        %td
          -# Append one more %td than needed because of last-child padding
