- @title ||= ti(:title, models: models_label)

= render 'orders/header'

- if @order.status.closed && can?(:create_invoices, @order)
  .alert.alert-warning
    Dieser Auftrag ist geschlossen. Die Rechnungen können nicht mehr bearbeitet werden.

= render 'list'

%p= paginate entries

%br/

- unless @order.status.closed?
  %p= render 'actions_index'
