-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= ti(:title, models: models_label)

= render 'orders/header'

- if @order.status.closed && can?(:create_invoices, @order)
  .alert.alert-warning
    Dieser Auftrag ist geschlossen. Die Rechnungen können nicht mehr bearbeitet werden.

= render 'list'

%p= paginate entries

%br/

- unless @order.status.closed? || cannot?(:create_invoices, @order)
  %p= render 'actions_index'
