-#  Copyright (c) 2006-2020, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

- @title ||= "Verpflegungsentschädigungen"

%header.meal-compensations-header
  = render 'date_filter'
  .list
    = render 'list'
