<p>
  <%= f.label :title, 'Bezeichnung' %><br />
  <%= f.text_field :title %>
</p>

<table>
  <% for employee in @curr_employees %>
  	<tr>
    	<td>
    		<%= check_box_tag "employee_list[employee_ids][]", employee.id, @employee_list.employees.include?(employee) -%> <%= employee -%>
		</td>
	</tr>
  <% end -%>

</table>