= crud_form do |f|
  = f.labeled_text_field :title
  %table
    = f.collection_check_boxes :employee_ids, @curr_employees, :id, :label do |b|
      %tr
        %td
          = b.label { b.check_box + ' ' + b.text }
