- @title = "Listen von #{@employee.label}"

= render :partial => 'plannings/period_link', :locals => {:id => @employee}


= list_table :title do |t|
  - t.action_col { |l| link_to 'Listenplanung', :controller => 'plannings', :action => 'employee_lists_planning', :employee_list_id => l.id}
  - t.show_action_col
  - t.edit_action_col
  - t.destroy_action_col
