%p
  %b
    Titel:
  = h @employee_list.title
.employees
  %p
  %ul
    - @employees.each do |employee|
      %li
        = employee = Employee.find_by_id(employee.id)

= link_to 'Bearbeiten', :controller => 'employee_lists', :action => 'edit', :id => @employee_list
|
= link_to 'Zurück', :controller => 'plannings', :action => 'employee_lists'
