
<p>
  <b>Titel:</b>
  <%=h @employee_list.title %>
</p>

<div class="employees">
	<p>
	<ul>
	<% @employee_list.employees.each do |employee| %>
		<li>
			<%= employee = Employee.find_by_id(employee.id) %>
		</li>
	<% end %>
	</ul>
	</p>
</div>


<%= link_to 'Bearbeiten', :controller => 'employee_lists', :action => 'edit', :id => @employee_list %> |
<%= link_to 'Zur&uuml;ck', :controller => 'planning', :action => 'employee_lists' %>
