-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= plain_form path_args(entry)  do |form|
  = form.labeled_input_field :text, caption: 'Eintrag schreiben', span: 8, class: 'initial-focus'
  .form-group
    .col-md-offset-2.col-md-8
      = form.button("Eintrag speichern", class: 'btn btn-primary')

%hr/