
.graph { 
	border-spacing: 0px;
	float:			left;
}

.graph .head {
	height: 		0;
}

.graph th {
	text-align:		center;
}

.graph tr {
	height: 		110px;
}

.graph td {
	vertical-align: bottom;
	text-align: 	center;
	width: 			80px;
	padding: 		0pt;
	border: 		1px solid white;
}

.graph td.holiday {
	background-color: #DDDDDD;	
}

.graph div {
	text-align: 	center;
	width:			100%;
	float:			left;
}

.graph img {
	margin: 0px;
	border: 0px;
	width: 100%;
	float: left;
}

.graph div.dateLabel {
	background-color: 	#FFFFFF; 
	height: 			25px;
	text-align: 		center;
	font-size:			13px;
}

.absence {
	border-spacing: 0px;
}

.absence .head th {
	text-align:		center;
}

.absence th {
	text-align: 	left;
	border-right: 	1px solid #bbb;	
	border-bottom: 	1px solid #bbb;
}

.absence td {
	text-align: 	center;
	padding: 		0pt;
	font-size:		11px;
	border-right: 	1px solid #bbb;	
	border-bottom: 	1px solid #bbb;
}

.absence td.stat {
	text-align: 	right;
	padding:		2pt;
}

td a {
	text-decoration: none;
	color:			#333;
}

td a:hover {
	position:		relative;
	float:			left;
	width:			100%;
}

td a span {
	display: 		none;
}

td a:hover span {
	display: 		block;
	position:		absolute;
	top:			10px;
	left:			10px;	
	z-index: 		3;
	background:		#ffffdd;
	white-space:	nowrap;
	padding:		1pt;
	border:			1px solid #ddd;
	font-size:		13px;
	float:			left;
	text-align:		left;
}

tr.uneven .current {
	background: #eeeecc;
}

tr .current {
	background: #ffffdd;
}

.legend {
	width:			320px;
	margin-left:	20px;
}

.legend tr {
	vertical-align: top;
}

.legend td {
	text-align: left;
}

.legend img {
	width: 75px;
	vertical-align: middle;
}
