
.graph { 
	border-spacing: 0px;
}

.graph .head {
	height: 		0;
}

.graph th {
	text-align:		center;
}

.graph td {
	vertical-align: bottom;
	text-align: 	center;
	width: 			55pt;
	padding: 		0pt;
	border: 		1px solid white;
}

.graph td.holiday {
	background-color: #DDDDDD;	
}

.graph div {
	text-align: 	center;
	font-size:		9.5pt;
	width:			100%;
	float:			left;
}

.graph img {
	margin: 0px;
	border: 0px;
	width: 100%;
	float: left;
}

.graph div.dateLabel {
	background-color: 	#FFFFFF; 
	height: 			25pt;
	text-align: 		center;
	font-size:			9.5pt;
}

.week {
	border-spacing: 0px;
}

.week .head th {
	text-align:		center;
	border-right: 	1px solid #bbb;	
	border-bottom: 	1px solid #bbb;
}

.week th {
	text-align: 	left;
	border-right: 	1px solid #bbb;	
	border-bottom: 	1px solid #bbb;
}

.week td {
	text-align: 	center;
	padding: 		0pt;
	font-size:		8pt;
	border-right: 	1px solid #bbb;	
	border-bottom: 	1px solid #bbb;
}

.legend tr {
	vertical-align: top;
}

.legend td {
	text-align: left;
}

.legend img {
	width: 55pt;
	vertical-align: middle;
}
