body {
    background:     #F9F9F7 url('../images/diagonal.gif') repeat-x;
    font-size:      14px;
    font-family:    "trebuchet ms", helvetica, sans-serif;
    color:          #333333;
    line-height:    14px;
    padding:        0px;
    margin:         0px;
    text-align:     center;   /* centered content in IE */
}

p {
    margin-bottom:  20px;
    text-align:     justify;
}

div {
    text-align:     justify;
}

a {
    color:          #0087e3 ;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size:      18px;
    font-weight:    normal;
    margin-bottom:  20px;
}

h2 {
    font-size:      15px;
    font-weight:    bold;
}

h3 {
    font-size:      14px;
    font-weight:    bold;
    color:          #4a4a4a;
}

table {
    font-size:      14px;
}

td {
    padding-left:   4px;
    padding-right:  4px;
    text-align:     left;
}

th {
    font-weight:    bold;
    color:          #0087e3;
    white-space:    nowrap;
    text-align:     left;
}

th.periodHead {
    text-align:     right;
}

textarea, input, select {
    font-size:      15px;
    font-family:    sans-serif;
    line-height:    17px;
}

.uneven {
    background-color: #C9D8FF;
}

.times_total_sum {
    font-weight:    bold;
    /* color: #f4a460; */
    padding-top:    10px;
    padding-bottom: 20px;
    white-space:    nowrap;
}

#notice {
    font-weight:    bold;
    margin:         10px;
    margin-top:     20px;
    margin-bottom:  20px;
    color:          #e47400;
}

#content {
    max-width:      992px;
    min-width:      730px;
    width:          992px;
    margin:         auto;
    padding:        13px 16px 13px 16px;
    background:     #fff url('../images/whitebox.gif') repeat-y;
}

#header {
    background:     #0087e3;
    width:          302px;
    height:         92px;
    color:          #fff;
    padding-left:   20px;
    float:          left;
}

#brand {    
    font-weight:    normal;
    font-size:      28px;
    line-height:    24px;
    letter-spacing: -1px;
    margin-top:     20px;
    margin-bottom:  0px;
}

#company {
    font-size:      11px;
    font-weight:    normal;
    color:          #FCE2CA;
}

#brand sup {
    color:          #FCE2CA;
    font-size:      0.5em;
}

#splash {
    right:          16px;
    height:         92px;
    margin-bottom:  14px;
}

#menu {
    background:     #46461F url('../images/menu_bg.gif') repeat-x;  /* #46461F */
    margin-top:     -8px;
    height:         35px;
}

#menu_user {
    background:     url('../images/menu_user.gif') repeat-x; 
    padding-top:    2px;
    margin-bottom:  30px;
}

#submenu {
    padding-left:   10px;
    margin-bottom:  30px;
    margin-top:     -10px;
}

#submenu a {
    color:          black;
    font-weight:    bold;
}

#menu ul {
    padding-top:    9px;
    padding-left:   8px;
    margin-left:    0px;
    margin-bottom:  13px;
}

#menu ul li {
    display:        inline;
    padding-left:   -3px;
}

#menu ul li a {
    background-color: transparent;
    background-repeat: repeat-x;
    padding:        2px 10px 4px 10px;  /* for the white box around the hovered link */
    color:          #fff;
    font-weight:    bold;
}

#menu ul li a:hover {
    background:     #fff url('../../images/menubox.gif') repeat-x top;
    color:          #4A4A24;
    text-decoration: none;
}

.fieldWithErrors {
    float:          left;
    padding:        2px;
    margin-right:   5px;
    background-color: #e47400;
}

#errorExplanation {
    width:          550px;
    border:         2px solid #e47400;
    padding-top:    15px;
    padding-left:   20px;
    background-color: #f0f0f0;
    margin-bottom:  15px;
}

#errorExplanation h2 {
    text-align:     left;
    font-size:      14px;
    margin:         -10px;
    margin-bottom:  10px;
    color:          #e47400;
}

#errorExplanation p {
    color:           #333;
    margin-left:    -10px;
    margin-bottom:  -7px;
}

#errorExplanation ul li {
    color:          #333;
    list-style:     none;  
    margin-left:    -30px;
}
