-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

= model_nav Client
= model_nav Employee
= model_nav Department
- if current_user.management?
  = nav('Konfiguration',
        configurations_path,
        holidays_path,
        absences_path,
        user_notifications_path,
        order_kinds_path,
        order_statuses_path,
        portfolio_items_path,
        services_path,
        sectors_path,
        target_scopes_path,
        working_conditions_path,
        employment_roles_path,
        employment_role_levels_path,
        employment_role_categories_path)
