<% @title = newLabel + ' ' + groupLabel %>

<%= renderManage :partial => 'info' %>

<%= start_form_tag linkParams(:action => 'create') %>
<%= renderManage :partial => 'form' %>
<%= end_form_tag %>

<%= renderManage :partial => 'backlink' %>