<h1><%= newLabel %> <%= groupLabel %></h1>

<%= start_form_tag linkParams(:action => 'create') %>
<%= renderManage :partial => 'form' %>
<%= end_form_tag %>

<%= render :partial => 'manage/backlink' %>