<% @title = "#{modelClass.label} l&ouml;schen" %>

<p>Wollen sie <%= @entry.label %> wirklich entfernen?</p>

<table>
<tr>
    <td>
    <% form_tag linkParams(:action => 'delete', :id => @entry) do %>
    <%= submit_tag 'Löschen' %>  
    <% end %>
    </td>
    <td>
    <% form_tag linkParams(:action => 'list'), {:method => 'get'} do %>
    <%= submit_tag 'Abbrechen' %>  
    <% end %>
    </td>
</td>
</table>    

