<% @title = "#{@entry.class.label} #{groupLabel} bearbeiten" %>

<%= renderGenericPartial :partial => 'info' %>

<% form_tag linkParams(:action => 'update', :id => @entry) do %>
<%= renderGenericPartial :partial => 'form' %>
<% end %>

<%= renderGenericPartial :partial => 'backlink' %>

<% for action in controller.listActions %>
 |  <%= actionLink action, @entry %> 
 <% end %> 