<% @title = "#{@entry.class.label} #{groupLabel} bearbeiten" %>

<%= renderManage :partial => 'info' %>

<%= start_form_tag linkParams(:action => 'update', :id => @entry) %>
<%= renderManage :partial => 'form' %>
<%= end_form_tag %>

<%= renderManage :partial => 'backlink' %>

<% for action in controller.listActions %>
 |  <%= actionLink action, @entry %> 
 <% end %> 