-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Funktionsanteile"

= form_tag(reports_role_distribution_path(format: :csv), method: :get, class: 'form-horizontal', role: 'form') do
  .form-group
    %label.col-md-2.control-label.required
      Stichdatum
    .col-md-5
      .input-group
        = text_field_tag(:date, I18n.l(Time.zone.today.beginning_of_month), class: 'form-control date')
        .input-group-addon= icon(:calendar)

  .form-group
    .col-md-offset-2.col-md-8
      %button.btn.btn-primary{type: :submit} CSV herunterladen
