<%= error_messages_for(:holiday) %>
<table>
  <tr>
    <td>Daum: </td>
  	<td>
  	<%= date_calendar_field 'holiday', 'holiday_date', 'Holiday Date' %>
  	</td>
  </tr>
  <tr>
    <td>Muss Stunden: </td>
    <td><%= text_field('holiday', 'musthours_day', :size => 15 )  %></td>
   </tr>
   <tr>
     <td><td><%= submit_tag 'Speichern' %></td></td>
   </tr>
 </table>
