<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->
<%= error_messages_for(:client) %>
  
  <table>
    <tr>
  	  <td><label for="client_name">Name: </label></td>
  	  <td><%= text_field 'client', 'name'  %></td>
    </tr>
    <tr>
      <td><label for="client_description">Contact: </label></td>
  	  <td><%= text_field 'client', 'contact'  %></td>
    </tr>
    <tr>
      <td><td><%= submit_tag 'Save' %></td></td>
    </tr>
  </table>