<h1>Kunde l&ouml;schen</h1>
<p>
Wollen sie den Kunden <%= @client.label %> wirklich l&ouml;schen?
</p>
<table>
<tr>
    <td>
    <%= start_form_tag :action => 'deleteClient', :id => @client %>
    <%= submit_tag 'Löschen' %>  
    <%= end_form_tag %>
    </td>
    <td>
    <%= start_form_tag :action => 'listClient', :method => 'get' %>
    <%= submit_tag 'Abbrechen' %>  
    <%= end_form_tag %>
    </td>
</td>
</table>    

