<h1>Editing client</h1>
<br/>
<%= error_messages_for 'client' %>

<%= start_form_tag :action => 'updateclient', :id => @client %>
<%= render :partial => 'form' %>
<%= end_form_tag %>
<br/>

<%= link_to 'Back', :action => 'clientlist' %>
