- errors ||= object.errors
- if errors.any?
  #errorExplanation.errorExplanation
    %h2= ti(:"errors.header", count: errors.count, model: object.to_s)
    %ul
      - errors.each do |attr, msg|
        %li
          \-
          = /^[[:upper:]]/.match(msg) ? msg : errors.full_message(attr, msg)
