- errors ||= object.errors
- if errors.any?
  #error_explanation.alert.alert-danger
    %ul
      - errors.each do |attr, msg|
        %li
          = /^[[:upper:]]/.match(msg) ? msg : errors.full_message(attr, msg)
