- if @graph.accounts? legend
  %tr
    %td{:colspan => "2"}
      %b= legend.labelPlural
  - @graph.accountsLegend(legend).each do |l|
    = render :partial => 'legendItem', :locals => {:legendItem => l}
