-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- if can?(:new, Order)
  = action_link(action_icon('duplicate', ti('link.duplicate')), new_order_path(copy_id: entry.id))

= destroy_action_link(entry,
                      entry.worktimes.any?,
                      'Dieser Eintrag kann nicht gelöscht werden, da ihm noch Arbeitszeiten zugeordnet sind')
