-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%label Auftrag
= form_tag(orders_path, method: :get) do
  .col-sm-10.col-md-8.col-lg-6
    = select_tag(:id,
                 choosable_order_options,
                 id: 'choosable_order_id',
                 placeholder: 'Suchen...',
                 autocomplete: 'off',
                 data: { autocomplete: 'order',
                         url: search_orders_path })