
%label Auftrag
= form_tag(orders_path, method: :get) do
  .col-xs-4
    = select_tag(:id,
                 options_for_select(Order.choosable_list, @order.id),
                 id: 'choosable_order_id',
                 class: 'searchable')