.cockpit-header-item
  Durchschnittlicher Stundenansatz
  .data-line
    %span.figure 153.75
    %span.unit CHF

.cockpit-header-item
  Fortschritt
  .data-item
    %span.figure 48
    %span.unit %

.cockpit-header-item
  Wirtschaftlichkeit
  .data-item
    %span.figure-label Aktuell
    %span.figure 76
    %span.unit %
    %span.figure-label Prognose
    %span.figure 175
    %span.unit %