- url = Crm.instance.order_url(entry)
- link = url ? link_to('Highrise Deal', url, target: '_blank',
                                             rel: 'noopener noreferrer') : nil
= f.labeled(:crm_key, caption: Crm.instance.crm_key_label, span: 2, help: link) do
  = f.input_field :crm_key
