.form-group
  = label_tag(:client_work_item_id, 'Kunde', class: 'col-md-2 control-label client required')
  .col-md-5
    = select_tag(:client_work_item_id,
                 options_from_collection_for_select(@clients, :work_item_id, :to_s, params[:client_work_item_id]),
                 prompt: ta(:please_select),
                 class: "searchable client #{'initial-focus' unless Crm.instance}",
                 required: true,
                 data: { remote: true,
                         url: categories_clients_path })
  .col-md-2
    %p.help-block
      = modal_create_link(new_client_path,
                          'client_work_item_id',
                          'Kunde erfassen',
                          class: 'client',
                          style: Crm.instance && Crm.instance.restrict_local? ? 'display: none;' : nil,
                          data: { id_field: 'work_item_id' })
