.form-group
  = label_tag(:category_work_item_id, class: 'col-md-2 control-label category') do
    = check_box_tag :category_active,
                    true,
                    params[:category_active],
                    disabled: params[:client_work_item_id].blank?,
                    data: { enable: '.category' }
    &nbsp;
    Kategorie
  .col-md-5
    = select_tag(:category_work_item_id,
                 options_from_collection_for_select(@categories, :id, :to_s, params[:category_work_item_id]),
                 include_blank: true,
                 class: 'searchable category')
  .col-md-2
    %p.help-block
      = modal_create_link(new_work_item_path,
                          'category_work_item_id',
                          'Kategorie erfassen',
                          class: 'category')