-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= f.labeled_input_field :crm_key,
                        caption: Crm.instance.crm_key_name,
                        span: 2,
                        help: crm_order_link(entry, entry.to_s)
