- content_for :content_header do
  .orders-header.unindented
    .row
      .col-xs-2.back
        = link_to(orders_path(returning: true)) do
          = picon('chevron-left')
          Auftragsliste

      .order-search.col-xs-10
        = render 'orders/chooser'

    = render 'orders/tabs'
