-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- content_for :extra_header do
  .orders-header
    .row
      .col-xs-2.back
        = link_to(orders_path(returning: true)) do
          = picon('chevron-left')
          Auftragsliste

      .order-search.col-xs-10
        = render 'orders/chooser'

    = render 'orders/tabs'

- content_for(:content_header) do
  %span