.orders-header
  .row
    .col-xs-2
      = link_to(orders_path(returning: true)) do
        %i.icon-previous
        Auftragsliste

    .order-search.col-xs-10
      = render 'chooser'

  = render 'tabs'