.row
  .col-md-5
    = f.input_field(:employee_id, class: 'searchable', placeholder: 'Member')
  .col-md-6
    = f.input_field(:comment, placeholder: 'Rolle im Projekt')
  .col-md-1.form-action
    = f.remove_nested_fields_link(icon('remove', title: 'Teammitglied entfernen'))