- if membership.projectmanagement
  = link_to 'Entfernen',
            { action: 'manager', id: membership},
            method: :delete
- else
  = link_to 'Hinzufügen',
            { action: 'manager', id: membership },
            method: :post