%h1 Design Guide

%h2 Tables

%h3 .table

%table.table
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet
      %th

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete


%h3 .table-striped

%table.table.table-striped
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea

    %tr
      %td
        %span.title ut labore
        %br
        %a{href: '#'} et dolore
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td commodo consequat

    %tr
      %td
        %span.title magna
        %br
        %a{href: '#'} aliqua
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td Duis aute irure


%h3 .table-stripedbody

%p Only the body is striped, the header is styled the same as the footer

%table.table.table-stripedbody
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea

    %tr
      %td
        %span.title ut labore
        %br
        %a{href: '#'} et dolore
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td commodo consequat

    %tr
      %td
        %span.title magna
        %br
        %a{href: '#'} aliqua
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td Duis aute irure

  %tfoot
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet


%h3 .table-bordered

%table.table.table-bordered
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table-hover

%table.table.table-hover
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table-condensed

%table.table.table-condensed
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td adipiscing elit
      %td Ut enim
      %td quis nostrud exercitation

    %tr
      %td sed do
      %td Ut enim
      %td ullamco laboris nisi

    %tr
      %td tempor
      %td Ut enim
      %td ut aliquip ex ea

    %tr
      %td ut labore
      %td Ut enim
      %td commodo consequat

    %tr
      %td magna
      %td Ut enim
      %td Duis aute irure


%h3 .table-inline

%table.table.table-inline
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table wrapped in .unindented

.unindented
  %table.table
    %thead
      %tr
        %th Lorem ipsum
        %th dolor sit
        %th amet

    %tbody
      %tr
        %td
          %span.title consectetur (.title)
          %br
          %a{href: '#'} adipiscing elit
        %td
          Ut enim
          %br
          %span.muted ad minim (.muted)
        %td quis nostrud exercitation

      %tr
        %td
          %span.title sed do
          %br
          %a{href: '#'} eiusmod
        %td
          Ut enim
          %br
          %span.muted ad minim
        %td ullamco laboris nisi

      %tr
        %td
          %span.title tempor
          %br
          %a{href: '#'} incididunt
        %td
          Ut enim
          %br
          %span.muted ad minim
        %td ut aliquip ex ea
