-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%h1 Design Guide

%h2 Tables

%h3 .table

%table.table
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet
      %th

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea
      %td.action
        %a{href: '#'}
          %i.icon-edit
        %a{href: '#'}
          %i.icon-duplicate
        %a{href: '#'}
          %i.icon-delete


%h3 .table-striped

%table.table.table-striped
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea

    %tr
      %td
        %span.title ut labore
        %br
        %a{href: '#'} et dolore
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td commodo consequat

    %tr
      %td
        %span.title magna
        %br
        %a{href: '#'} aliqua
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td Duis aute irure


%h3 .table-stripedbody

%p Only the body is striped, the header is styled the same as the footer

%table.table.table-stripedbody
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea

    %tr
      %td
        %span.title ut labore
        %br
        %a{href: '#'} et dolore
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td commodo consequat

    %tr
      %td
        %span.title magna
        %br
        %a{href: '#'} aliqua
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td Duis aute irure

  %tfoot
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet


%h3 .table-bordered

%table.table.table-bordered
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table-hover

%table.table.table-hover
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table-condensed

%table.table.table-condensed
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td adipiscing elit
      %td Ut enim
      %td quis nostrud exercitation

    %tr
      %td sed do
      %td Ut enim
      %td ullamco laboris nisi

    %tr
      %td tempor
      %td Ut enim
      %td ut aliquip ex ea

    %tr
      %td ut labore
      %td Ut enim
      %td commodo consequat

    %tr
      %td magna
      %td Ut enim
      %td Duis aute irure


%h3 .table-inline

%table.table.table-inline
  %thead
    %tr
      %th Lorem ipsum
      %th dolor sit
      %th amet

  %tbody
    %tr
      %td
        %span.title consectetur (.title)
        %br
        %a{href: '#'} adipiscing elit
      %td
        Ut enim
        %br
        %span.muted ad minim (.muted)
      %td quis nostrud exercitation

    %tr
      %td
        %span.title sed do
        %br
        %a{href: '#'} eiusmod
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ullamco laboris nisi

    %tr
      %td
        %span.title tempor
        %br
        %a{href: '#'} incididunt
      %td
        Ut enim
        %br
        %span.muted ad minim
      %td ut aliquip ex ea


%h3 .table wrapped in .unindented

.unindented
  %table.table
    %thead
      %tr
        %th Lorem ipsum
        %th dolor sit
        %th amet

    %tbody
      %tr
        %td
          %span.title consectetur (.title)
          %br
          %a{href: '#'} adipiscing elit
        %td
          Ut enim
          %br
          %span.muted ad minim (.muted)
        %td quis nostrud exercitation

      %tr
        %td
          %span.title sed do
          %br
          %a{href: '#'} eiusmod
        %td
          Ut enim
          %br
          %span.muted ad minim
        %td ullamco laboris nisi

      %tr
        %td
          %span.title tempor
          %br
          %a{href: '#'} incididunt
        %td
          Ut enim
          %br
          %span.muted ad minim
        %td ut aliquip ex ea




/ Invoice / Show example

%h1.h3 Rechnungen
.row
  .col-md-3
    %h2.h4 Vorauszahlungen
  .col-md-9
    %a.align-with-heading{href: '#'}
      %i.icon-add
      Neue Vorauszahlung erstellen

.unindented
  %table.table.table-striped
    %thead
      %tr
        %th Datum
        %th Referenz
        %th Betrag
        %th Bemerkungen
        %th Status
        %th Fälligkeit
        %th &nbsp;

    %tbody
      %tr
        %td 30.03.2014
        %td BLSR001D1KON
        %td= "#{currency} 10'000.00"
        %td Anzahlung 30% bei Auftragserteilung
        %td bezahlt
        %td
          %span.red 30.04.2014
        %td.action
          %a{href: '#'}
            %i.icon-edit
          %a{href: '#'}
            %i.icon-delete
          %a{href: '#'}
            %i.icon-time
          %a{href: '#'}
            %i.icon-document


/ Invoice / Add example

%h1.h3 Neue Rechnung erstellen

%form.form-horizontal{:action => ""}
  .form-group
    %label.col-md-2.control-label Projekt
    .col-md-5
      %p.form-control-static BLS-DAX-WEI   Weiterentwicklung 2014
  .form-group
    %label.col-md-2.control-label{:for => "start_date"} Leistungsperiode von
    .col-md-2
      .input-group
        %input#start_date.date.form-control{:name => "start_date", :size => "15", :type => "text"}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
    %label.col-md-1.control-label{:for => "end_date"} bis
    .col-md-2
      .input-group
        %input#end_date.date.form-control{:name => "end_date", :size => "15", :type => "text"}/
        %span.input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    .col-md-offset-2.col-md-8
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Manuelle Rechnung
      %p.help-block Alle Rechnungspositionen/Leistungen werden manuell erfasst.
  .form-group
    %label.col-md-2.control-label Members
    .col-md-2
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Andreas Lingenhag
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Ruggero Botteon
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Max Burri
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Philipp Suter
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Philipp Murkowsky
  .form-group
    %label.col-md-2.control-label Rechnungspositionen
    .col-md-2
      %p.form-control-static Gruppieren nach:
      .radio
        %label
          %input{:type => "radio", :name => "invoice_order", :checked => "checked"}/
          Buchungspositionen
      .radio
        %label
          %input{:type => "radio", :name => "invoice_order"}/
          Members

