-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Arbeitszeit erfassen"

#existing
  = render :partial => 'existing'

%ul.nav.nav-tabs{role: 'tablist'}
  %li.active= link_to 'Arbeitszeit', '#'
  %li= link_to 'Absenz', new_absencetime_path(work_date: params[:work_date], other: record_other?)

%br

= render 'form'