- @title = @split.page_title

.panel.panel-info
  .panel-heading
    %h3.panel-title
      #{@split.original.time_string} am #{f(@split.original.work_date)}.
      Die Zeiten wurden noch nicht gespeichert.
      Bitte schliessen sie dazu den Aufteilungsprozess ab.
  %table.table.table-condensed.table-striped
    %tbody
      = render :partial => 'part', :collection => @split.worktimes

%br

= render 'form', url: create_part_ordertimes_path
