-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = @split.page_title

.panel.panel-info
  .panel-heading
    %h3.panel-title
      #{@split.original.time_string} am #{f(@split.original.work_date)}.
      Die Zeiten wurden noch nicht gespeichert.
      Bitte schliessen sie dazu den Aufteilungsprozess ab.
  %table.table.table-condensed.table-striped
    %tbody
      = render :partial => 'part', :collection => @split.worktimes

%br

= render 'form', url: create_part_ordertimes_path
