- @title = @split.page_title

.panel.panel-info
  .panel-heading
    %h3.panel-title
      = @split.original.time_string
      am #{f(@split.original.work_date)}:
  %table.table.table-condensed.table-striped
    %tbody
      = render :partial => 'part', :collection => @split.worktimes

  .panel-body
    Die Zeiten wurden noch nicht gespeichert. Bitte schliessen sie dazu den Aufteilungsprozess ab.

%br

= render 'form', url: create_part_ordertimes_path