- @title = 'Planung aller Mitarbeiter'

= render 'plannings/base/date_filter'

#plannings
  = render 'list'

%br/

.planning-legend
  %h5 Legende
  %table.planning-legend-table
    %tbody
      = render 'plannings/employees/legend_extension'

