-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= list_table do |t|
  - t.attr(:name) { |e| e.label_verbose }
  - t.col() { |d| link_to('Mitarbeiter', plannings_department_multi_employees_path(d.id)) }
  - t.col() { |d| link_to('Aufträge', plannings_department_multi_orders_path(d.id)) }
  - t.col('', style: 'width: 100%;') { |d| }