<%= error_messages_for(:project) %>
<table>
  <tr>
    <td>Project name: </td>
  	<td><%= text_field 'project', 'name', :size => 20  %></td>
  </tr>
  <tr>
    <td>Client: </td>
    <td>
    <%= collection_select( :project, :client_id, @clients, :id, :name) %>    
    </td>
   </tr>
   <tr valign="top">
     <td>Description: </td>
  	 <td><%= text_area 'project', 'description',{:rows => 5}  %></td>
   </tr>
   <tr>
     <td><td><%= submit_tag 'Save' %></td></td>
   </tr>
 </table>
