<h1>Projekt l&ouml;schen</h1>
<p>
Wollen sie das Projekt <%= @project.label %> wirklich l&ouml;schen?
</p>
<table>
<tr>
    <td>
    <%= start_form_tag :action => 'deleteProject', :id => @project %>
    <%= submit_tag 'Löschen' %>  
    <%= end_form_tag %>
    </td>
    <td>
    <%= start_form_tag( {:action => 'listProject'}, :method => 'get' ) %>
    <%= submit_tag 'Abbrechen' %>  
    <%= end_form_tag %>
    </td>
</td>
</table>    

