<h1>Edit Project</h1>
<br/>

<%= start_form_tag :action => 'updateProject' , :project_id => @project %>
<%= render :partial => 'form' %>
<%= end_form_tag %>
<br/>

<%= link_to 'Back', :action => 'listProject' %> |
<%= link_to 'Show', :action => 'showProject', :id => @project %> 
