-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title ||= 'Auslastung'

%p= render 'filters'
= render 'evaluator/period_link', entities_name: 'Absenzen'

.results= render 'results'

- if can?(:capacity_report, Evaluation)
  = action_link(action_icon('export', 'CSV Detaillierte Auslastung'),
                reports_capacity_path,
                data: { turbolinks: false })
