= javascript_include_tag :defaults, :cache => true
:javascript
  //
  function workDateChanged(cal) {
  	workDate = $('worktime_work_date').value;
  <haml:silent> if record_other? 
  </haml:silent><haml:block>	employee_id = $('worktime_employee_id').value;
  </haml:block><haml:silent> else 
  </haml:silent><haml:block>	employee_id = #{@worktime.employee_id};
  </haml:block>	#{remote_function(:url => { :action => 'existing' }, 
  						:method => :get,
  						:with => "'employee_id=' + employee_id + '&work_date=' + workDate")}
  }
  //
