
<% if @worktime.account != nil %>
<h1>New Time for <%= @worktime.account.name %></h1>
<% else %>
<h1>New Absence</h1>
<% end %>
<br/>

<%= start_form_tag :action => 'createTime' %>
<%= render :partial => 'form' %>
<%= end_form_tag %>

<br/>
<%= link_to 'Overview', :action => 'listTime' %>
