
<% @title = @worktime.account.nil? ? 'Neue Absenz' :
                "Neue Arbeitszeit f&uuml;r #{@worktime.account.name}" %>


<%= start_form_tag :action => 'createTime' %>
<%= render :partial => 'form', 
           :locals => {:submit => ['Speichern und weiter erfassen', WorktimeController::FINISH]} %>
<%= end_form_tag %>

<br/>
<%= overviewLink @worktime.project_id.nil? %>
