<% @title = "#{@worktime.class.label} bearbeiten" %>

<% form_tag evaluation_detail_params.merge!({                        
                        :action => 'update', 
                        :id => @worktime}) do %>                
<%= renderGenericPartial :partial => 'form' %>
<% end %>

<p>
<%= link_to 'Arbeitszeiten', evaluation_detail_params.merge!({
                        :controller => 'evaluator',
                        :action => controller.detailAction }) %>
</p>