<% @title = "Arbeitszeit bearbeiten von #{@worktime.account.name}" %>

<% form_tag evaluation_detail_params.merge!({                        
                        :action => 'updateTime', 
                        :worktime_id => @worktime}) do %>                
<%= render :partial => 'form' %>
<% end %>

<p>
<%= link_to 'Arbeitszeiten', evaluation_detail_params.merge!({
                        :controller => 'evaluator',
                        :action => 'details' }) %>
</p>