<h1>Worktime menu of <%=h @user.firstname %> <%=h @user.lastname %></h1>
  <br/>
  <%= link_to 'Other Times', :controller => 'evaluator', :action => 'selectPeriodUser' %>
  <br/>
  <br/>
  Project member in projects listed below: 
  <br/>
 <%= overview_user_current(@user.projects) %>
 <br/>	 