<h1>Worktimemenu of <%=h @user.firstname %> <%=h @user.lastname %></h1>
  <br/>
  <table>
    <tr>
      <td>Projectmember in Projects listed below: </td>
    </tr>
	<% for project in @user.projects %>
	<tr>
	  <td><%=h project.name %></td>
	  <td><%= link_to 'Add time', :action => 'addTime', :project_id => project %></td>
	</tr>
	<% end %>
	<tr>
	  <td>
	    <%= link_to 'Add absence', :action => 'addTime' %>
	  </td>
	</td>
  </table>