<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Your Absences of selected Period</h1>
<br/>
Absences times between <%= @startdate %> and <%= @enddate %>
<br/>
<br/>
  <%= overview_user_absence_period(@absences, @startdate_db, @enddate_db, @startdate, @enddate)%>
<%= link_to 'Current Time', :action => 'showUserAbsences' %> 