<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Your Projects</h1>
<br/>
 Project times between <%= @startdate %> and <%= @enddate %>
<br/>
<br/>
 <%= overview_user_period(@startdate_db, @enddate_db, @startdate, @enddate) %>
 <%= link_to 'Back', :controller => 'worktime', :action => 'listTime' %>