<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Your Absences</h1>
<br/>
<%= link_to 'Other Times', :action => 'selectPeriodAbsenceUser' %>
<br/>
<br/>
 <%= overview_user_absence_current(@absences) %>
 <%= link_to 'Back', :controller => 'worktime', :action => 'listTime' %>