<h1> Timelist of selected Project</h1>
<br/>
<table>
  <% @times.each do |time| %>
  <tr>
    <td><%= time.work_date %> <%= time.hours %></td>
    <td><%= link_to 'View', :action => 'viewTime', :worktime_id => time %></td>
  </tr>
  <% end %>
</table>
<br/>
<%= link_to 'Back', :action => 'listTime' %>
