<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<%= start_form_tag%>
<center>
<table>
    <tr>
     <td>Shortname:</td>
     <td><%= text_field 'employee', 'shortname' %></td>
 	</tr>
 	<tr>
 	<td>Password:</td>
 	<td><%= password_field 'employee', 'pwd' %></td>
 	</tr>
 	<tr>
 	<td/>
 	<td><input type="submit" value=" Login "/></td>
 	</tr>
  </table>
  </center>
<%= end_form_tag%>
