-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%center
  = form_tag({controller: 'login', action: 'login'}, name: 'form') do
    = hidden_field_tag 'ref', params[:ref]
    %table.table-condensed
      %tr
        %td
          %label.control-label Login
        %td= text_field_tag 'user', nil, size: 20, class: 'form-control initial-focus'
      %tr
        %td
          %label.control-label Passwort
        %td= password_field_tag 'pwd', nil, size: 20, class: 'form-control'
      %tr
        %td
        %td
          %input{type: "submit", value: "Login", class: 'btn btn-primary'}
