%center
  %p{:style => "text-align: center;"} Bitte loggen Sie sich ein:
  - form_tag({:controller => 'login', :action => 'login'}, :name => 'form') do
    = hidden_field_tag 'ref', params[:ref]
    %table
      %tr
        %td Login:
        %td= text_field_tag 'user', nil, :size => 20
      %tr
        %td Passwort:
        %td= password_field_tag 'pwd', nil, :size => 20
      %tr
        %td
        %td
          %input{:type => "submit", :value => "Login "}/
:javascript
  document.form.user.focus();
