<% for column in Employee.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @employee.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @employee %> |
<%= link_to 'Back', :action => 'list' %>
