-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


= format_number(@board.total_post_planned_hours(post), 0)
\/
= format_hour(post.offered_hours.to_f, 0)