#add_employee_id{ hidden: true }
  = select_tag(:add_employee_select_id,
               options_from_collection_for_select(@possible_employees, :id, :to_s),
               autocomplete: 'off',
               include_blank: true)
