.expense_reviews {
  .button-spacing {
    padding-top: 30px;
  }

  @media screen and (min-width : 768px) {
    :not(.row).divider {
      border-left: solid #d8d8d8 1px;
    }

    .button-spacing {
      padding-top: 0px;
    }
  }

  .row.divider {
    border-top: solid #d8d8d8 1px;
  }

  .mb-3 {
    margin-bottom: 3rem;
  }

  .row.flex {
    display: flex;
  }

  .big-gutter-left {
    padding-left: 30px;
  }

  .big-gutter-right {
    padding-right: 30px;
  }

  .actions {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
