form {
  .legend {
    text-align: right;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 15px;
  }
}

.form-inline .form-group {
  margin-bottom: 10px;
}

label.required::after{
  content: " *"
}

.selectize-dropdown, .selectize-input, .selectize-input input {
  color: inherit;
}

.form-inline {
  .selectize-control {
    min-width: 180px;
  }
}

.selectize-option {
  text-align: left;

  .shortname, .name {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
  }
  .shortname {
    font-weight: bold;
    margin-right: 5px;
  }

  .name {
  }

  .description {
    font-size: 11px;
  }
}