.nav-tabs.nav-center > li, .nav-pills.nav-center > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.nav-center, .nav-pills.nav-center {
  text-align:center;
}

.nav-tabs > li > a {
  color: $gray;

  &:hover {
    color: $gray-darker;
  }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, {
  color: $gray-darker;
}
