$cell-width: 36px;
$cell-height: 4rem;
$legend-width: 300px;

.planning-board {
  > .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  > .content {
    display: flex;
  }
}

.planning-calendar {
  overflow-x: auto;
}
.planning-calendar-weeks,
.planning-calendar-days-header {
  padding-left: $legend-width;
}
.planning-calendar-weeks {
  display: flex;
  flex: 1;
  position: sticky;
  top: 0;
}
.planning-calendar-week {
  display: flex;
  max-width: $cell-width * 5;
  min-width: $cell-width * 5;
  justify-content: space-between;
  background-color: #eee;

  > .planned, > .kw {
    padding: 0.25rem 0.5rem;
  }

  &:not(:last-child) > .planned {
    border-right: 1px solid #fff;
  }
}
.planning-calendar-days-header {
  cursor: default;
  position: sticky;
  top: 25px;

  > .dayheader {
    border-top: 1px solid #ccc;
    background-color: #ccc;
    padding-left: 0.5rem;
  }
}
.planning-calendar-days,
.planning-calendar-days-header,
.planning-calendar-inner > .groupheader {
  display: flex;
  width: calc(var(--days, 1) * #{$cell-width} + #{$legend-width});
}
.planning-calendar-days > .day,
.planning-calendar-days-header > .dayheader,
.planning-calendar-inner > .groupheader > .day {
  min-width: $cell-width;
  max-width: $cell-width;
  border-left: 1px solid #ccc;

  &:last-child {
    border-right: 1px solid #ccc;
  }
}
.planning-calendar-inner > .groupheader > strong,
.planning-calendar-days > .legend {
  left: 0;
  position: sticky;
  display: flex;
  align-items: center;
  min-width: $legend-width;
  max-width: $legend-width;
  padding-right: 0.5em;
  background: #fff;
  color: black;
  height: $cell-height;
}
.planning-calendar-inner > .groupheader, .planning-calendar-days {
  height: $cell-height;

  > .day {
    height: $cell-height;
    line-height: 3.5rem;
    padding: 3px 0;
  }
}
.planning-calendar-inner > .groupheader, .planning-calendar-days {
  &:nth-child(odd) {
    background: #efefef;
  }
  &:nth-child(odd) > .day {
    color: #cacaca;
  }
}
.planning-calendar-days {
  > .day {
    text-align: center;
    cursor: pointer;
    font-weight: lighter;
    color: #dadada;
    background-size: 18px 18px;
    background-position: left;
    background-repeat: repeat;
    background-clip: content-box;
  }
  > .day.-selected, > .day.-definitive, > .day.-provisional {
    font-weight: normal;
  }
  > .day.-selected {
    position: relative;
    background-clip: border-box;
    color: #50696e;
  }
  > .day.-selected::after {
    position: absolute;
    content: '';
    background: lightblue;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  > .day.-definitive {
    background-color: #2b78e4;
    color: #cde5ea;
  }
  > .day.-provisional {
    background-color: transparent;
    background-image: linear-gradient(-45deg, #9bcbd4 25%, #cde5ea 0, #cde5ea 50%, #9bcbd4 0, #9bcbd4 75%, #cde5ea 0);
    color: #50696e;
  }
}

.planning-panel {
  position: absolute;
  display: none;

  .panel-footer {
    display: flex;
  }
}
.planning-percent-group {
  width: 8em;
}
.planning-delete {
  margin-right: auto;
}
