$cell-width: 36px;
$cell-height: 4rem;
$weekdays: 5;
$week-width: $cell-width * $weekdays;
$legend-width: 300px;

#add_employee_id, #add_work_item_id {
  flex: 1;
}

.planning-board {
  display: flex;
  margin-bottom: 30px;
}

.planning-board-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.planning-calendar {
  overflow-x: auto;
}
.planning-calendar-weeks,
.planning-calendar-days-header {
  padding-left: $legend-width;
}
.planning-calendar-weeks {
  display: flex;
  flex: 1;
  position: sticky;
  top: 0;
}
.planning-calendar-week {
  display: flex;
  max-width: $week-width;
  min-width: $week-width;
  justify-content: space-between;
  border-left: 1px solid #bbb;
  background-color: #eee;

  &:last-child {
    border-right: 1px solid #bbb;
  }

  > .planned, > .kw {
    padding: 0.25rem 0.5rem;
  }
}
.planning-calendar-days-header {
  cursor: default;
  position: sticky;
  top: 25px;

  > .dayheader {
    border-top: 1px solid #ccc;
    background-color: #ccc;
    padding-left: 0.5rem;
  }
}
.planning-calendar-days,
.planning-calendar-days-header,
.planning-calendar-inner > .groupheader,
.planning-calendar-inner > .actions {
  display: flex;
  width: calc(var(--days, 1) * #{$cell-width} + #{$legend-width});
}
.planning-calendar {
  .day, .dayheader {
    min-width: $cell-width;
    max-width: $cell-width;
    border-left: 1px solid #e0e0e0;

    &:last-child {
      border-right: 1px solid #e0e0e0;
    }
  }
  .dayheader {
    border-color: transparent;
  }
  .day:nth-child(5n+2), .dayheader:nth-child(5n+1) {
    border-left-color: #bbb;
  }
}
.planning-calendar-inner > .groupheader > strong,
.planning-calendar-inner > .actions > .buttons,
.planning-calendar-days > .legend {
  left: 0;
  position: sticky;
  display: flex;
  align-items: center;
  min-width: $legend-width;
  max-width: $legend-width;
  padding-right: 0.5em;
  background: #fff;
  color: black;
  height: $cell-height;
}
.planning-calendar-inner > .groupheader,
.planning-calendar-inner > .actions,
.planning-calendar-days {
  height: $cell-height;

  &:nth-child(odd) {
    background: #efefef;
  }
  &:nth-child(odd) > .day {
    color: #cacaca;
  }

  > .day {
    height: $cell-height;
    line-height: 3.5rem;
    padding: 3px 0;
  }
}
.planning-calendar-days {
  > .day {
    text-align: center;
    cursor: pointer;
    font-weight: lighter;
    color: #dadada;
    background-size: 18px 18px;
    background-position: left;
    background-repeat: repeat;
    background-clip: content-box;
  }
  > .day.-selected, > .day.-definitive, > .day.-provisional {
    font-weight: normal;
  }
  > .day.-selected {
    position: relative;
    background-clip: border-box;
    color: #50696e;
  }
  > .day.-selected::after {
    position: absolute;
    content: '';
    background: lightblue;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.planning-panel {
  position: absolute;
  display: none;
  max-width: 350px;
  z-index: $zindex-popover;

  .panel-footer {
    display: flex;
  }
}
.planning-percent-group {
  width: 8em;
}
.planning-definitive-group button:focus {
  background-color: transparent;
}
.planning-delete {
  margin-right: auto;
}

.planning-legend {
  td {
    padding: 2px;
  }

  td:first-child {
    min-width: $cell-width;
    max-width: $cell-width;
    text-align: center;
    color: #cacaca;
    height: 3rem;
    line-height: 3rem;
    background-size: 18px 18px;
    background-position: left;
    background-repeat: repeat;
    background-clip: content-box;
  }

  td.day {
    background-color: #efefef;
  }
}

.day.-definitive {
  background-color: #2b78e4 !important;
  color: #cde5ea !important;
}
.day.-provisional {
  background-color: transparent;
  background-image: linear-gradient(-45deg, #9bcbd4 25%, #cde5ea 0, #cde5ea 50%, #9bcbd4 0, #9bcbd4 75%, #cde5ea 0);
  color: #50696e !important;
}

.over_planned {
  background-color: lighten($brand-red, 10%);
}
.under_planned {
  background-color: lighten($brand-warning, 10%);
}
.fully_planned {
  background-color: $brand-green-light;
}
