.selectize-dropdown, .selectize-input, .selectize-input input {
  color: inherit;
}

.form-inline {
  .selectize-control {
    min-width: 180px;
  }
}

.form-control.selectize-control {
  height: $input-height-base;
}

.selectize-option {
  text-align: left;

  .shortname, .name {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
  }
  .shortname {
    font-weight: bold;
    margin-right: 5px;
  }

  .name {
  }

  .description {
    font-size: 11px;
  }
}
