table.absence {
  .head th {
    text-align:   center;
    border-bottom: 0;
  }

  td a {
    color: #333;
  }

  td.stat {
    text-align:   right;
  }

  .current {
    background-color: #ffffdd !important;
  }

}

