table.absence {
  @extend .table;
  @extend .table-condensed;
  @extend .table-stripedbody;
  @extend .table-bordered;

  .head th {
    text-align:   center;
  }

  td.stat {
    text-align:   right;
  }

  td.current {
    background-color: #ffffdd !important;
  }

  td.definitive {
    background-color: #91C5E5 !important;
  }

  td.absence {
    background-color: #8FADCB !important;
  }

  td.free {
    background-color: #EFBCA3 !important;
  }

  td.tentative {
    background-color: #96CBD3 !important;
  }

  td.half_planned {
    background-color: #ECEBA0 !important;
  }

  td.full_planned {
    background-color: #B0DAA5 !important;
  }

  td.over_planned {
    background-color: #E39797 !important;
  }
}
