.master-data-vcard-qrcode {
  display: block;
  width: 100px;

  @media (min-width: $screen-md-min) {
    padding-top: 20px;
  }
}

.employee-info-primary-value {
  display: inline-block;
  margin-bottom: $padding-small-vertical;
}
