table.order-uncertainty-table {
  table-layout: fixed;
}

th.order-certainty-table-risk {
  width: 3 * 17px + 2 * 3px + $table-condensed-cell-padding;
}

table.order-uncertainty-table th.action {
  width: 50px;
}

.order-risk-icon {
  color: $gray-darker;
}

.order-chance-icon {
  color: $brand-success;
}

.order-risk-icon,
.order-chance-icon {
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }

  &.inactive {
    color: $gray-light;
  }
}
