.reports-workload {
  .data-item {
    display: block;
    text-align: right;
    white-space: nowrap;
  }
  a.data-item span {
    color: $link-color;
  }

  .figure {
    text-align: right;
  }

  .unit {
    font-size: 12px;
  }

  .figure, .unit {
    color: $gray-darker;
  }
}
