.reports-workload {
  .data-item {
    text-align: right;
    white-space: nowrap;

    .figure {
      text-align: right;
    }

    .unit {
      font-size: 12px;
    }

    .figure, .unit {
      color: $gray-darker;
    }
  }
}
