$worktimes-border: #ccc;
$worktimes-border-radius: 3px;
$worktimes-weeknav-bg: #eee;
$worktimes-weeknav-active-bg: #fff;
$worktimes-weeknav-hover-bg: lightblue;
$worktimes-weeknav-height: 70px;
$worktimes-weekcontent-hover-bg: lightblue;
$worktimes-font-size-small: 12px;
$worktimes-default-spacing: 10px;

.worktimes {
  padding-top: 4 * $worktimes-default-spacing;

  .figures {
    @include clearfix;

    .balance {
      float: left;
      margin-left: 5%;
    }
    .monthly {
      float: right;
      margin-right: 5%;
    }
  }

  .weeknav-container {
    width: 100%;
    padding: $worktimes-default-spacing 0;

    &.stuck {
      position: fixed;
      top: -$worktimes-default-spacing;
      z-index: 99;

      .weeknav {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      }
    }

  }

  .weeknav {
    @include clearfix;
    border-width: 1px 0;
    border-style: solid;
    border-color: $worktimes-border;
    background-color: #fff;

    .browser {
      width: 90%;
      float: left;

      .controls {
        float: right;
        width: 30%;
        border-right: 1px solid $worktimes-border;

        .weeknav-element {
          width: 33.333%;
        }
      }
    }
  }

  .weeknav-element {
    line-height: $worktimes-weeknav-height;
    display: table-cell;
    text-align: center;
    float: left;

    .inner {
      display: inline-block;
      vertical-align: middle;
      line-height: 1.2;
    }

    .label {
      font-weight: bold;
    }
    .time {
      font-size: $worktimes-font-size-small;
    }
  }

  .weeknav-link {
    width: 5%;
    line-height: $worktimes-weeknav-height;
    float: left;
    text-align: center;
    vertical-align: middle;
  }

  .weeknav-days {
    width: 70%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    @include clearfix;
    background-color: $worktimes-weeknav-bg;

    .day {
      width: percentage(1 / 7);
      cursor: pointer;
      border-width: 0 1px 0 0;
      border-style: solid;
      border-color: $worktimes-border;

      &.holiday {
        .label, .date {
          color: grey;
        }
      }

      &.missing {
        .time {
          color: red;
        }
      }

      &.active {
        background-color: $worktimes-weeknav-active-bg;
      }

      &:first-child {
        border-width: 0 1px;
      }

      &.today {
        background-color: lightgrey;
      }
    }
  }

  .weekcontent {
    margin-bottom: $worktimes-default-spacing;

    .date-label, .entry {
      padding: $worktimes-default-spacing 0;
      clear: both;
      background-color: none;
      -moz-transition: background-color 500ms ease-in;
      -webkit-transition: background-color 500ms ease-in;
      -o-transition: background-color 500ms ease-in;
      transition: background-color 500ms ease-in;

      &.highlight {
        background-color: $worktimes-weekcontent-hover-bg;
      }
    }

    .date-label {
      margin-top: $worktimes-default-spacing;
      padding: $worktimes-default-spacing 5%;
      font-size: $worktimes-font-size-small;
      color: #238BCA;

      &.empty {
        display: none;
      }
    }

    .entry {
      position: relative;
      border-top: 1px solid $worktimes-border;
      @include clearfix;

      &:hover, &:active {
        background-color: $worktimes-weekcontent-hover-bg;
      }

      .entry-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
      }

      > * {
        float: left;
      }

      .title, .description {
        width: 60%;
        margin-left: 5%;
        @include ellipsis(true);
      }

      .description {
        clear: both;
      }

      .time-range, .time-value, .controls {
        width: 10%;
        text-align: right;
      }

      .title, .time-value {
        font-weight: bold;
      }

      .description, .time-range {
        font-size: $worktimes-font-size-small;
      }

      .controls {
        margin-right: 5%;
      }

      .controls a {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        z-index: 1;
      }
    }
  }
}

.from_pierre {

font-family: Roboto-Regular;
font-size: 22px;
color: #444444;
line-height: 29px;
/* PuzzleTime: */

border-color: #D8D8D8;
/* All lines */

font-family: Roboto-Light;
font-size: 14px;
color: #999999;
line-height: 20px;
/* Philipp Murkowsky: */

font-family: Roboto-Light;
font-size: 16px;
color: #FFFFFF;
line-height: 20px;
background: #1E5A96;
/* Meine Zeit: */

font-family: Roboto-Light;
font-size: 16px;
color: #FFFFFF;
line-height: 20px;
background: #3B7BBE;
/* Meine Aufträge: */

font-family: Roboto-Regular;
font-size: 14px;
color: #444444;
line-height: 20px;
/* Meine Projekte: */

font-family: Roboto-Regular;
font-size: 14px;
color: #999999;
line-height: 20px;
/* Meine Absenzen : */

font-family: Roboto-Medium;
font-size: 18px;
color: #444444;
line-height: 24px;
/* Erinnerung: */

font-family: Roboto-Regular;
font-size: 14px;
color: #444444;
line-height: 20px;
/* Bitte per Monatsend... */

font-family: Roboto-Regular;
font-size: 14px;
color: #FFFFFF;
line-height: 20px;
border-radius: 2px;
background: #3B7BBE;
/* Freigeben: */

font-family: Roboto-Regular;
font-size: 14px;
color: #999999;
line-height: 20px;
/* Überzeitsaldo : 8:55: */

background: #F5F5F5;
border: 1px solid #D8D8D8;
/* Week timeline */

font-family: Roboto-Medium;
font-size: 16px;
color: #444444;
line-height: 21px;
background: #FFFFFF;
border: 1px solid #D8D8D8;
/* Day */

font-family: Roboto-Light;
font-size: 16px;
color: #444444;
line-height: 21px;
/* 08:15: */

background: #FFFFFF;
border: 2px solid #D8D8D8;
/* Day :hover */

font-family: Roboto-Light;
font-size: 16px;
color: #B44B5B;
line-height: 21px;
/* Day error - hour */

font-family: Roboto-Medium;
font-size: 16px;
color: #FFFFFF;
line-height: 21px;
background: #69B978;
/* Day current */

font-family: Roboto-Regular;
font-size: 24px;
color: #444444;
line-height: 32px;
/* SAJA-IWS-RE2: */

font-family: Roboto-Regular;
font-size: 14px;
color: #444444;
line-height: 20px;
/* 1234 - Mockups erste 2: */

font-family: Roboto-Light;
font-size: 18px;
color: #4A4A4A;
line-height: 24px;
/* 07:10 - 10: */

font-family: Roboto-Medium;
font-size: 18px;
color: #444444;
line-height: 24px;
/* 1:50 */


}
