body {
    background:     #fff;
    font-size:      16pt;
    font-family:    "trebuchet ms", helvetica, sans-serif;
    color:          #333;
    padding:        0px;
    margin:         0px;
}

p {
    margin-bottom:  20px;
}

a {
    color:          #0087e3 ;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a.symbol {
	text-decoration: none;
	font-weight: 	 bold;
	font-size: 		 16px;
}

a img {
	border:			0;
}

h1 {
    font-size:      20pt;
    font-weight:    normal;
    margin-bottom:  10px;
	padding-left:	5px;
}

h2 {
    font-size:      18pt;
    font-weight:    bold;
	padding-left:	5px;
}

h3 {
    font-size:      16pt;
    font-weight:    bold;
    color:          #4a4a4a;
	padding-left:	5px;
}

table {
    font-size:      16pt;
}

td {
    padding:   		5px;
	padding-top:	8pt;
	padding-bottom: 8pt;
	vertical-align: top;
}

textarea, input, select {
    font-size:      14px;
    font-family:    sans-serif;
    line-height:    16px;
}

th.periodHead {
    text-align:     right;
}

.uneven {
    background-color: #C9D8FF;
	white-space: nowrap;
}

#notice {
    font-weight:    bold;
    margin:         10px;
    margin-top:     10px;
    margin-bottom:  0px;
    color:          #e47400;
}

.notification {
    border: 2px solid #C9D8FF;
    background-color: #f0f0f0;
    margin: 0;
    margin-top: -16px;
	margin-bottom: 10px;
	padding: 2px;
    list-style-type: none;
}
