body {
    background:     #FFFFFF;
    font-size:      14px;
    font-family:    "trebuchet ms", helvetica, sans-serif;
    color:          black;
    line-height:    14px;
}


h1 {
    font-size:      18px;
    font-weight:    normal;
    margin-bottom:  20px;
}

table {
    font-size:      14px;
}

td {
    padding-left:   4px;
    padding-right:  4px;
    vertical-align: top;
}

th {
    font-weight:    bold;
    white-space:    nowrap;
    text-align:     left;
}

.uneven {
    background-color: #E9F8FF;
}

.times_total_sum {
    font-weight:    bold;
    padding-top:    10px;
    padding-bottom: 20px;
    white-space:    nowrap;
}

.date {
    text-align:     right;
    font-size:      13px;
}
