@import "bootstrap-sprockets";
@import "bootstrap_variables";
@import "bootstrap";
@import "mixins";

h1.h3 {
  margin-bottom: 20px;
}

p {
  text-align: justify;
}

div {
  text-align: justify;
}

label.required::after{
content: " *"
}

a.symbol {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

#content {
  @extend .container-fluid;
  margin-bottom: 40px;
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.unindented {
  margin-left: -$grid-gutter-width;
  margin-right: -$grid-gutter-width;
}

.nav-tabs.nav-center > li, .nav-pills.nav-center > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs.nav-center, .nav-pills.nav-center {
  text-align:center;
}

.nav-tabs > li > a {
  color: $gray;

  &:hover {
    color: $gray-darker;
  }
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover, {
  color: $gray-darker;
}

th {
  color: #000;
  font-weight: 400;
}
th.periodHead {
    text-align:     right;
}
.nowrap {
  white-space: nowrap;
}

#evaluation td {
  white-space: nowrap;
}

.btn + .cancel {
  margin-left: 10px;
}

.times_total_sum {
  font-weight:    bold;
  /* color: #f4a460; */
  padding-top:    10px;
  padding-bottom: 20px;
  white-space:    nowrap;
}

.notification {
  border: 2px solid #C9D8FF;
  background-color: #f0f0f0;
  margin: 0;
  margin-top: -16px;
  margin-bottom: 10px;
  padding: 2px;
}

.notification li {
  margin-left: 20px;
}

a.tooltip {
  font-weight: bolder;
  text-decoration: none;
}

a.tooltip span {
  display: none;
}

a.tooltip:hover {
  position: relative;
}

a.tooltip:hover span {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
  background: #ffffdd;
  color: #333;
  white-space: nowrap;
  padding: 1pt;
  border: 1px solid #ddd;
  font-weight: normal;
  float: left;
  text-align: left;
}

.calendar {
  margin-left: 5px;
}

.selectize-option {
  text-align: left;

  .shortname, .name {
    display: inline-block;
    line-height: 25px;
    vertical-align: middle;
  }
  .shortname {
    font-weight: bold;
    margin-right: 5px;
  }

  .name {
  }

  .description {
    font-size: 11px;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.align-with-heading {
  display: inline-block;
  margin: 10px 0;
}

.truncated {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.list-search {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
}

.disabled {
  color: $btn-link-disabled-color;
}

.red {
  color: $brand-danger;
}

.green {
  color: $brand-success;
}

.orange {
  color: $brand-warning;
}

.yellow {
  color: $brand-info;
}

.tooltip p {
  margin-bottom: 0;
}

a.action {
  margin-right: 50px;
}

a.disabled:hover {
  cursor: default;
  text-decoration: none;
  color: $btn-link-disabled-color;
}

.form-action {
  @extend .form-control;
  width: auto;
  border: 0;
  box-shadow: none;
  margin-bottom: 15px;
}

#content > .nav-tabs {
  margin-bottom: $line-height-computed * 2;
}
#content > .form-horizontal {
  margin-top: $line-height-computed * 2;
}

dd.value {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

footer {
  clear: both;
}

[data-row-link] tbody tr:not([data-no-link=true]) td:not(.no-link) {
  cursor: pointer;
}

html.turbolinks-progress-bar::before {
  background-color: $brand-blue-dark !important;
  height: 2px !important;
}


@import "components/form";
@import "components/nav_tabs";
@import "components/table";

@import "absence";
@import "graph";
@import "header";
@import "worktimes";
@import "orders";
@import "order_comments";
@import "icons";

