-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "Meine Listen"

= list_table do |t|
  - t.attr(:name) do |l|
    - case l.item_type
    - when Employee.sti_name
      - link_to l, plannings_custom_list_multi_employees_path(l.id)
    - when Order.sti_name
      - link_to l, plannings_custom_list_multi_orders_path(l.id)
    - else
      - l
  - t.attr(:item_type)
  - t.edit_action_col
  - t.destroy_action_col
