- [OrderChance, OrderRisk].each do |uncertainty_model|
  %h1.h3= uncertainty_model.model_name.human(count: 2)
  = plain_table_or_message(entries.where(type: uncertainty_model.sti_name), class: 'order-uncertainty-table') do |t|
    - t.attrs(:name, :probability, :impact)
    - t.attr(:risk, nil, class: 'order-certainty-table-risk')
    - t.attr(:measure, nil, class: 'pre-line')
    - standard_table_actions(t)
  = add_action_link([@order, uncertainty_model])
