-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%h2.h3= model.model_name.human(count: 2)

= plain_table_or_message(entries, class: 'order-uncertainty-table') do |t|
  - t.attrs(:name, :probability, :impact)
  - t.attr(:risk, nil, class: 'order-certainty-table-risk')
  - t.attr(:measure, nil, class: 'pre-line')
  - standard_table_actions(t)

= add_action_link([@order, model])
