- if can?(:manage, Expense) && parent.nil?
  = add_action_link
  - if entries.count.positive?
    = action_link('Liste als PDF exportieren', expenses_pdf_export_path)
- else
  = add_action_link(new_employee_expense_path(current_user))
