= nav('Meine Spesen', employee_expenses_path(current_user), employee_expenses_path(current_user) + "*")
- if current_user.management?
  = nav 'Alle Spesen', expenses_path(returning: true), expense_review_path(expense_id: '*')
