<table>
  <tr>
    <td>From:</td><td><%= date_select(:period, :startDate, :order => [:day, :month, :year]) %></td>
  </tr>
  <tr>
    <td>To:</td><td><%= date_select(:period, :endDate, :order => [:day, :month, :year]) %></td>
  </tr>
  <tr>
    <td><td><%= submit_tag 'Search' %></td></td>
  </tr>
</table>