<a href="/evaluator/details?evaluation=<%= 
    "#{params[:evaluation]}&category_id=#{category_id}" +
    "&division_id=#{division_id}" if ! division_id.nil? +
    "&start_date=#{period.startDate}&end_date=#{period.endDate}" %>">"
    <img src =\"/images/lupe.gif\" border=0>
 </a>