= render spacer, time: detailrow if spacer

%tr
  - @evaluation.detail_columns.each do |field|
    = detail_td detailrow, field
  - if @evaluation.edit_link?(@user) || @user.management
    %td
      - if @user.management || ! detailrow.booked
        = link_to 'Bearbeiten',
                  edit_polymorphic_path(detailrow, back_url: request.url)
  - if @evaluation.delete_link?(@user)
    %td
      - if ! detailrow.booked
        = link_to 'Löschen',
                  polymorphic_path(detailrow, back_url: request.url),
                  data: { method: :delete,
                          confirm: ti(:confirm_delete) }


