-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%section.employee-absences
  %h4 Absenzen

  - evaluation = EmployeeAbsencesEval.new(params[:category_id] || @user.id)
  = render('category',
           evaluation: evaluation,
           times: @periods.collect { |p| evaluation.sum_times_grouped(p) },
           evaluation_name: params[:evaluation] == 'userworkitems' ? 'userabsences' : 'employeeabsences')
