-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- employee = @evaluation.category
%section
  %h4 Positionen

  - workload_report_employee_entry = employee_info_workload_report_employee_entry(employee)
  %p
    %label
      - if @period
        Auslastung:
      - else
        Auslastung aktueller Monat:
      = format_percent(workload_report_employee_entry.workload.round)
    %br
    %label
      - if @period
        Verrechenbarkeit:
      - else
        Verrechenbarkeit aktueller Monat:
      = format_percent(workload_report_employee_entry.billability.round)

  = render('category')
