- employee = @evaluation.category
%section
  %h4 Positionen

  - workload_report_employee_entry =
  -   employee_info_workload_report_employee_entry(employee)
  %p
    %label
      Auslastung:
      = format_percent(workload_report_employee_entry.workload.round)
    %br
    %label
      Verrechenbarkeit:
      = format_percent(workload_report_employee_entry.billability.round)

  = render('category')
