-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%p
  - if @period
    - entities_name ||= 'Zeiten'
    #{entities_name} während #{@period} &nbsp;
    = link_to 'Aktuelle Zeitspanne',
              :controller => 'evaluator',
              :action => 'current_period',
              :back_url => request.original_fullpath
    |
  = link_to 'Andere Zeitspanne',
            :controller => 'evaluator',
            :action => 'select_period',
            :back_url => request.original_fullpath
