-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


%p.period-link
  - if @period
    - entities_name ||= 'Zeiten'
    #{entities_name} während #{@period} &nbsp;

  %span.period-link-links
    - if @period
      = link_to 'Aktuelle Zeitspanne',
                periods_path(back_url: request.original_fullpath),
                data: { method: :delete }
      |
    = link_to 'Andere Zeitspanne',
              periods_path(back_url: request.original_fullpath)
