- work_item = WorkItem.find(@evaluation.account_id)
%table.table-condensed
  %tr
    %td Kunde
    %td
      %b= work_item.top_item.client.label
  %tr
    %td Position
    %td
      %b= work_item.label_ancestry
  - if @evaluation.employee_id
    %tr
      %td Mitarbeiter
      %td
        %b= Employee.find(@evaluation.employee_id).label
  %tr
    %td Periode
    %td
      %b= @period.to_s
