<%= link_to 'Meine Projekte', 
			:controller => 'evaluator', 
			:action => 'userProjects', 
			:clear => 1 %>
&nbsp;
<%= link_to 'Meine Absenzen', 
			:controller => 'evaluator', 
		  	:action => 'userAbsences', 
			:clear => 1 %> 	
&nbsp;
<%= link_to 'Wochengrafik', 
            :controller => 'graph', 
            :action => 'weekly' %> 