<table cellspacing="0">
<% for row in infos -%>
<tr>
  <% for info in row -%>
  <td><%= info[0] %>: &nbsp; </td>
  <td align="right"><%= format_hour info[1]  %> <%= info[2] %></td>
  <td> &nbsp; &nbsp; &nbsp; </td>
  <% end -%>
</tr>
<% end -%>
</table>
<br />