<table cellspacing="0">
<% for row in infos -%>
<tr>
  <% for info in row -%>
  <td nowrap="nowrap"><%= info[0] %>: &nbsp; </td>
  <td align="right" nowrap="nowrap"><%= number_with_precision(info[1].to_f, 2) %> <%= info[2] %></td>
  <td width="60pt"> &nbsp; </td>
  <% end -%>
</tr>
<% end -%>
</table>