- # local variables:
- #  division_id, action
- p = @periods[timecell_counter]
- timecell = @times[timecell_counter][division] if defined? division
- division_id = nil if ! defined? division_id
- division_id = division.id if defined? division
- action ||= 'details'
%td{:align => "right"}
  = format_hour timecell.to_f
  - if division_id || @evaluation.total_details
    - link = url_for(controller: controller.controller_name,
                     action: action,
                     evaluation: params[:evaluation],
                     category_id: @evaluation.category_id,
                     division_id: division_id.presence)
    - link += '&amp;' + ( p ? p.url_query_s : 'start_date=0' )
    - # use html link instead of link_to for performance reasons
    %a{:href => link.html_safe}= image_tag('lupe.gif', 'size' => '19x11', 'alt' => 'Details')
  - else
    = image_tag( 'space.gif', 'size' => '19x11' )
