- # local variables:
- # periods, division_id, action
- p = periods[timecell_counter]
- division_id = nil if ! defined? division_id
- action ||= 'details'
%td{:align => "right"}
  = format_hour timecell
  - if division_id || @evaluation.class::TOTAL_DETAILS
    - link = PATH_PREFIX + '/' + controller.controller_name + '/' + action + '?evaluation=' + params[:evaluation] + '&amp;category_id=' +  @evaluation.category_id.to_s
    - link += '&amp;division_id=' + division_id.to_s if division_id
    - link += '&amp;' + ( p ? p.url_query_s : 'start_date=0' )
    - # use html link instead of link_to for performance reasons
    %a{:href => link}= image_tag('lupe.gif', 'size' => '19x11', 'alt' => 'Details')
  - else
    = image_tag( 'space.gif', 'size' => '19x11' )
