<h1>Evaluator Options</h1>
<table>
  <%if @user.management == true %>
  <tr>
    <td><%= link_to 'Employees Overview', :action => 'showEmployees' %>
    </td>
  </tr>
   <% end %>
   <%if @user.management == true || Projectmembership.is_projectmanagement(@user) %>
  <tr>
    <td><%= link_to 'Project Groups Overview', :action => 'showProjects' %>
    </td>
  </tr>
  <% end %>
 </table>
 