<h1><%= @evaluation.label %> Overview</h1>

<p>
<%= periodLink(@period) %>
</p>

<%= overview(@evaluation, @period) %>

<% if @user.management %>
  <%= link_to 'Evaluator', :action => 'listEvaluator' %> 
<% end %>