<h1><%=@matrix[:category]%> <%=@matrix[:division].to_s.capitalize%> Overview</h1>

<p>
<%= periodLink(@period, @matrix) %>
</p>

<%= overview(@matrix, @id, @period) %>

<%= link_to 'Evaluator', :action => 'listEvaluator' %> 