<h1>&Uuml;berzeit &Uuml;bersicht</h1>
<br/>
<table>
  <tr class="times_table_title">
    <td>Mitarbeiter</td>
    <td>Momentane &Uuml;berzeit</td>
    <td>Verbleibende Ferien f&uuml;r <%= Date.today.year %></td>
  </tr>
  <% for employee in @employees %>
  <tr>
    <td><%= employee.label %></td>
    <td><%= number_with_precision(employee.currentOvertime, 2) %> h </td>
    <td><%= number_with_precision(employee.currentRemainingVacations, 2) %> d</td>
  </tr>
  <% end %>
</table>