<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Select Detail Time</h1>
<br/>
 <%= start_form_tag :action => 'showAbsencesPeriod'%>
 <%= render :partial => 'dateselect' %>
 <%= end_form_tag %>

 <%= link_to 'Back', :action => 'showAbsences' %>