<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Employee Absence Overview</h1>
<br/>
Absences times between <%= @startdate %> and <%= @enddate %>
<br/>
<br/>
  <%= overview_absence_period(@employees, @absences, @startdate_db, @enddate_db, @startdate, @enddate)%>
<%= link_to 'Current Time', :action => 'showAbsences' %> | <%= link_to 'Evaluator', :action => 'listEvaluator' %>