<h1>Holiday and Overtime</h1>
<br/>
<table>
  <tr>
    <td><p>Employee</p></td>
    <td><p>Holiday</p></td>
  </tr>
  <% for employee in @employees %>
  <tr>
    <td><%= employee.lastname %> <%= employee.firstname %></td>
    <td><%= employee.sumVacation %></td>
  </tr>
  <% end %>
</table>