<h1>Employee projects overview</h1>
<br/>
<table>
  <% for employee in @employees %>
  </tr>
    <td><%= employee.lastname %> <%= employee.firstname %></td>
    <td><%= link_to 'Project',  :action => 'showProjects',  :employee_id => employee %> | <%= link_to 'Absence', :action => 'selectAbsenceDetailTime', :employee_id => employee %></td>
  <tr>
  <% end %>
</table>

<%= link_to 'Back', :action => 'listEvaluator' %> 