<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Clients Overview</h1>
<br/>
 <%= link_to 'Other Times', :action => 'selectPeriodClient' %>
<br/>
<br/>
 <%= overview_client_current(@clients)%>

<%= link_to 'Back', :action => 'listEvaluator' %> 