<!-- (c) Puzzle itc, Berne
Diplomarbeit 2149, Xavier Hayoz -->

<h1>Employee Projects Overview</h1>
<br/>
Project times between <%= @startdate %> and <%= @enddate %>
<br/>
<br/>
  <%= overview_employees_period(@employees, @startdate_db, @enddate_db, @startdate, @enddate)%>

<%= link_to 'Current Time', :action => 'showEmployees' %> | <%= link_to 'Evaluator', :action => 'listEvaluator' %>