<h1>Project Groups</h1>
<br/>
<%= link_to 'Other Times', :action => 'selectPeriodProject' %>
<br/>
<br/>
<% if @user.management == true %>
 <%= overview_employee_current(@projects)%>
<% else %>
 <%= overview_projectmember_current(@projectmemberships) %>
<% end %>
<% if @user.management == true %>
 <%= link_to 'Back', :action => 'listEvaluator' %>
<% else %>
  <%= link_to 'Back', :controller => 'worktime', :action => 'listTime' %>
<% end %>