.entry.is-empty{title: 'Neuer Eintrag', 'data-date' => day}
  = link_to(new_ordertime_path(work_date: localize_date(day)),
                               data: { no_turbolink: true },
                               class: 'controls') do
    &nbsp;
