
.entry.is-empty{'data-date' => day}
  .title-description
    .title
    .description
  .controls
    = link_to(new_ordertime_path(work_date: localize_date(day))) do
      Hinzufügen
      %i.icon-duplicate
