-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.entry.is-empty{'data-date' => day}
  - if show_link
    %a{class: 'worktimes-day-add-link'}
      %i.icon-add.worktimes-day-add-link-icon
      %span Neuer Eintrag
    = link_to('', new_ordertime_path(work_date: localize_date(day)),
                                     data: { no_turbolink: true },
                                     class: 'entry-link')
  - else
    .worktimes-day-no-entries Keine Einträge
