.alert.alert-info

  - unless @existing.empty?
    Am #{f(@work_date)} bereits erfasste Zeiten:
    %table.striped{:cellpadding => "0"}
      %tbody
        = render :partial => 'part', :collection => @existing
  - else
    Am #{f(@work_date)} wurden noch keine Zeiten erfasst.
