.panel.panel-info

  - unless @existing.empty?
    .panel-body
      Am #{f(@work_date)} bereits erfasste Zeiten:
    %table.table.table-condensed.table-striped
      %tbody
        = render :partial => 'part', :collection => @existing
  - else
    .panel-body
      Am #{f(@work_date)} wurden noch keine Zeiten erfasst.
