-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- @title = "#{@worktime.class.model_name.human} bearbeiten"

#existing
  = render 'existing'

= render 'form'

- if @user == @worktime.employee
  %p= link_to 'Löschen',
              evaluation_detail_params.merge!(action: 'destroy', id: @worktime.id),
              data: { method: :delete,
                      confirm: ti(:confirm_delete) }
