- @title = "#{@worktime.class.label} bearbeiten"

#existing
  = render 'existing'

= render 'form'

- if @user == @worktime.employee
  %p= link_to 'Löschen',
              evaluation_detail_params.merge!(:action =>'destroy', :id => @worktime.id),
              data: { method: :delete,
                      confirm: ti(:confirm_delete) }
