---
name: "Reusable: Build and push image"

"on":
  workflow_call:
    inputs:
      environment:
        description: "Environment to run in"
        type: string
        required: true
      project_name:
        description: "Project name, e.g. pitc-ptime-int"
        type: string
        required: true
      push:
        description: "Build and debug things without pushing to the registry"
        type: boolean
        default: false
      registry:
        description: "FQDN of the registry"
        type: string
        required: false
        default: ""
      registry_url:
        description: "URL to push image to"
        type: string
        required: false
        default: ""

    secrets:
      PUZZLE_REGISTRY_USERNAME:
        description: "Needed for the registry login"
        required: true
      PUZZLE_REGISTRY_TOKEN:
        description: "Needed for the registry login"
        required: true

jobs:
  build:
    environment: ${{ inputs.environment }}
    runs-on: "ubuntu-latest"

    env:
      BUILD_REGISTRY: ${{ inputs.registry || vars.REGISTRY }}
      BUILD_REGISTRY_URL: ${{ inputs.registry_url || vars.REGISTRY_URL }}

    steps:
      - name: Input Validation
        run: |
          exit_code=0

          if [ -z "${BUILD_REGISTRY}" ]; then
            echo "::error title=Configuration Error::BUILD_REGISTRY is empty."
            echo "Please ensure 'registry' input is set or 'REGISTRY' variable is configured in the ${{ inputs.environment }} environment."
            exit_code=1
          fi

          if [ -z "${BUILD_REGISTRY_URL}" ]; then
            echo "::error title=Configuration Error::BUILD_REGISTRY_URL is empty."
            echo "Please ensure 'registry_url' input is set or 'REGISTRY_URL' variable is configured in the ${{ inputs.environment }} environment."
            exit_code=1
          fi

          exit "${exit_code}"

      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.BUILD_REGISTRY }}
          username: ${{ secrets.PUZZLE_REGISTRY_USERNAME }}
          password: ${{ secrets.PUZZLE_REGISTRY_TOKEN }}
      - uses: docker/build-push-action@v4
        with:
          file: Dockerfile
          build-args: |
            GITHUB_REF_NAME=${{ github.ref_name }}
            GITHUB_REPOSITORY=${{ github.repository }}
            GITHUB_REPOSITORY_URL=${{ github.repositoryUrl }}
            GITHUB_SHA=${{ github.sha }}
          target: app
          tags: |
            ${{ env.BUILD_REGISTRY_URL }}:latest
            ${{ env.BUILD_REGISTRY_URL }}:git-${{ github.sha }}
          push: ${{ inputs.push }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
