---
name: 'Lint and test on pull request'

on:
  # Warning: Checks execute on base repo (puzzle/puzzletime), examine external PRs carefully
  pull_request_target:
    branches:
      - 'master'
    paths-ignore:
      - 'doc/**'
      - '**.md'

jobs:
  lint:
    if: github.head_ref != 'master'
    uses: ./.github/workflows/reusable-lint.yaml
    with:
      ref: ${{ github.head_ref }}

  test:
    if: github.head_ref != 'master'
    uses: ./.github/workflows/reusable-test.yaml
    with:
      ref: ${{ github.head_ref }}
...
