.planning-calendar-weeks
  - @period.step(7) do |date|
    .planning-calendar-week
      .kw KW #{date.cweek}
      .planned 150%
.planning-calendar-days-header
  - @period.step do |date|
    - unless date.saturday? || date.sunday?
      .dayheader{ data: { date: date.strftime('%Y-%m-%d') } }= date.day
