-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- months_from_monday.each do |month|
  .planning-calendar-month
    .title
      %span.month= l(month.start_date, format: '%B')
      %small.year= l(month.start_date, format: '%Y')
    .planning-calendar-month-weeks
      - month.step(7) do |date|
        = render 'week_header', date: date
