-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

.header-planned-container
  .header-planned-row.total-sum
    .header-planned-prefix
      Total:
    .header-planned-amount
      = format_number(@board.total_planned_hours, 0) + ' / ' + format_number(@board.total_plannable_hours, 0)
    .header-planned-postfix
      Stunden verplant
  .header-planned-row.inperiod-sum
    .header-planned-prefix
      Durch Filter angezeigter Zeitbereich:
    .header-planned-amount
      = format_number(@board.total_planned_hours(true), 0)
    .header-planned-postfix
      Stunden verplant
  .header-planned-row.selected-sum
    .header-planned-prefix
      Selektierter Zeitbereich:
    .header-planned-amount
      = render 'preview_total_selected'
    .header-planned-postfix
      Stunden verplant

- content_for(:javascript) do
  var recalculate_total_selected_amount_trigger = new window.App.SelectionWatcherTrigger('classChange', '.day', 'ui-selected')

  var calculate_total_action = new window.App.SelectionWatcherAction("#{preview_total_selected_order_order_plannings_path(order_id: @order.id, format: :js)}")

  new window.App.SelectionWatcher(recalculate_total_selected_amount_trigger, calculate_total_action);