-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.

.header-planned-container
  .header-planned-row.total-sum
    .header-planned-prefix
      Total:
    .header-planned-amount
      = format_number(@board.total_planned_hours, 0) + ' / ' + format_number(@board.total_plannable_hours, 0)
    .header-planned-postfix
      Stunden verplant
  .header-planned-row.inperiod-sum
    .header-planned-prefix
      Ausgewählter Zeitbereich:
    .header-planned-amount
      = format_number(@board.total_planned_hours(true), 0)
    .header-planned-postfix
      Stunden verplant

