-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


.planning-legend
  %h5 Legende
  %table.planning-legend-table
    %tbody
      %tr
        %td.day.-definitive.-percent-80 80
        %td Fix verplant 80%
      %tr
        %td.day.-provisional.-percent-40 40
        %td Provisorisch verplant 40%
      %tr
        %td.day
        %td Unverplant
      %tr
        %td.day.-absence
        %td Abwesenheit
      %tr
        %td.day.-absence-unpaid
        %td Unbezahlter Urlaub
      %tr
        %td.day.-holiday
        %td Feiertag
      = render 'legend_extension'
