%br/

%h5 Legende
%table.planning-legend
  %tr
    %td.day.-definitive 60
    %td Fix verplant 60%
  %tr
    %td.day.-provisional 40
    %td Provisorisch verplant 40%
  %tr
    %td.day &nbsp;
    %td Unverplant
  %tr
    %td.day X
    %td Abwesenheit
  = render 'legend_extension'


