.legend{ title: legend }
  = link_to_if(can?(:show_plannings, legend), legend, planning_legend_path(legend))

  .sum
    = with_tooltip(row_total_overall ? 'Total der auf dieser Position geplanten Zeit' : 'Total der auf dieser Position geplanten Zeit im dargestellten Zeitbereich') do
      = format_hour(row_total, 0)

- items.each do |item|
  .day{ item.day_attrs }
    = item
