.legend
  = link_to(legend, planning_legend_path(legend))
- items.each do |item|
  - case item
    - when Planning
      .day{ class: item.definitive? ? '-definitive' : '-provisional', data: { id: item.id } }
        = item.percent
    - when Absencetime
      .day{ title: "#{item.absence.name}: #{format_hour(item.hours)}" }
        X
    - when nil
      .day
    - else
      .day
        ?
