.legend= legend
- items.each do |item|
  - case item
    - when Planning
      .day{ class: item.definitive? ? '-definitive' : '-provisional', data: { id: item.id } }
        = item.percent
    - when nil
      .day
