.legend{ title: legend }
  = link_to_if(can?(:show_plannings, legend), legend, planning_legend_path(legend))

  .sum
    = format_hour(row_total, 0)

- items.each do |item|
  .day{ item.day_attrs }
    = item
