.p-board
  %header.header
    %h1.title
      Projekt ABCDEFGHIJKLMNOPQRSTUVWXYZ
    .planned
      150 von 400 Stunden verplant
    .timeresolution
      %label
        Von
        %input{ type: 'month' }
      %label
        Bis
        %input{ type: 'month' }
      %select
        %option Freie Zeitspanne
  %section.content
    .legend
    .p-calendar{ 'style': "--days: #{15 * 5}" }
      .p-calendar-weeks
        - for $kw in 21..35
          .p-calendar-week
            .kw KW #{$kw}
            .planned 150%
      .p-calendar-days-header
        - for $day in 1..(5 * 15)
          .dayheader= $day
      - for $row in 1..60
        .p-calendar-days
          - for $day in 1..(5 * 15)
            .day{ class: cycle('', '-temporary', '-planned') }
              = Random.rand(1..10) * 10
%script
  $('.p-calendar').on('click', '.day', e => e.target.classList.toggle('-selected'))
