:plain
  $('#add_employee_id,#add_work_item_id').remove()
  $('.planning-board')
    .html('#{j(render('board'))}')
    .parent().append('#{j(render('add_row'))}')

  App.plannings.reloadAll()
  App.plannings.dateFilterChanged()

= render 'shared/flash_alert'
