-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


- if flash[level].present?
  %div{:class => "alert alert-#{flash_class(level)}"}
    %a.close{:'data-dismiss' => 'alert', :href => '#'} &times;
    = simple_format([flash[level]].flatten.join("\n"))
