- if @notifications && !@notifications.empty?
  #notifications.alert.alert-info
    %a.close{:'data-dismiss' => 'alert', :href => '#'} &times;
    %ul
      - @notifications.each do |notification|
        %li= h(notification.message).gsub("\n", "<br/>")
