<html>
<head>
  <title>puzzleTime - <%= @title %></title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="shortcut icon" href="<%= PATH_PREFIX %>/favicon.gif" />
  
  <%= stylesheet_link_tag 'puzzletime', :media => 'screen' %>
  <%= dhtml_calendar_includes "blue", "de" %>
</head>
<body>
<div id="content">
	<div id="header">
		<div id="brand">puzzleTime<sup>1.0</sup></div>
		<div id="company">&nbsp; by Puzzle ITC</div>
	</div>

	<div id="splash">
	<%= image_tag 'banner.jpg', :size => '547x92', :align => 'right' %>
	</div>		
	
	<% if @user -%>
	<div id="menu">
	  <ul>
      	<li class="first"><%= link_to 'Meine Zeit', 
      	                        :controller => 'projecttime', 
      	                        :action => 'list' %></li>
		<% if @user.projectManager? -%>
		<li><%= link_to 'Meine Projekte', 
		         :controller => 'evaluator', 
		         :action => 'managed',
                 :clear => 1 %></li>	
		<% end -%>
		<% if @user.management -%>
		<li><%= link_to 'Kunden', 
		         :controller => 'evaluator',
                 :action => 'clients',
                 :clear => 1 %></li>
        <li><%= link_to 'Mitarbeiter', 
                 :controller => 'evaluator',
                 :action => 'employees',
                 :clear => 1 %></li>
        <li><%= link_to 'Absenzen', 
                 :controller => 'evaluator',
                 :action => 'absences',
                 :clear => 1 %></li>     
        <li><%= link_to '&Uuml;berzeit',
                 :controller => 'evaluator', 
                 :action => 'overtime',
                 :clear => 1 %></li>    
        <% end -%>
        <li><%= link_to 'Abwesenheiten', 
                 :controller => 'evaluator',
                 :action => 'absencedetails' %></li>
        <% if @user.management || @user.projectManager? -%>         
		<li><%= link_to 'Verwalten', 
		         :controller => 'project' %></li>         
		<% end -%>
	  </ul>		
	</div>   
	
	<div id="menu_user">
	  Benutzer: <%= @user.label %> | 
	  <%= link_to 'Logout', 
	           {:controller => 'login', 
	           :action => 'logout'},
	           :method => 'post' %>
    </div>
      
	<div id="submenu">
    <%= renderGenericPartial :partial => 'submenu' %> &nbsp;
    </div>   

    <% end -%>
	
	<h1><%= @title %></h1>
	
	<% if flash.has_key?(:notice) -%>
	<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
	
    <%= @content_for_layout %>

    <br/>
    <br/>
</div>
</body>
</html>
