<html>
<head>
  <title>puzzleTime - <%= @title %></title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="no-cache" />
  <link rel="shortcut icon" href="/favicon.gif" />
  
  <%= stylesheet_link_tag 'puzzletime', :media => 'screen' %>
  <%= dhtml_calendar_includes "blue", "de" %>
</head>
<body>
<div id="content">
	<div id="header">
		<div id="brand">puzzleTime<sup>1.0</sup></div>
		<div id="company">&nbsp; by Puzzle ITC</div>
	</div>

	<div id="splash"></div>		
	
	<% if @user -%>
	<div id="menu">
	  <ul>
      	<li class="first"><%= link_to 'Meine Zeit', 
      	                        :controller => 'worktime', 
      	                        :action => 'listTime' %></li>
		<% if @user.projectManager? -%>
		<li><%= link_to 'Meine Projekte', 
		         :controller => 'evaluator', 
		         :action => 'managed' %></li>	
		<% end -%>
		<% if @user.management -%>
		<li><%= link_to 'Kunden', 
		         :controller => 'evaluator',
                 :action => 'clients' %></li>
        <li><%= link_to 'Mitarbeiter', 
                 :controller => 'evaluator',
                 :action => 'employees' %></li>
        <li><%= link_to '&Uuml;berzeit',
                 :controller => 'evaluator', 
                 :action => 'overtime' %></li>
        <% end -%>
        <li><%= link_to 'Absenzen', 
                 :controller => 'evaluator',
                 :action => 'absences' %></li>
        <% if @user.management || @user.projectManager? -%>         
		<li><%= link_to 'Verwalten', 
		         :controller => 'project' %></li>         
		<% end -%>
	  </ul>		
	</div>   
	<div id="menu_user">
	  Benutzer: <%= @user.label %> | 
	   <%= link_to 'Passwort &auml;ndern', 
	           :controller => 'employee', 
	           :action => 'changePasswd' %> | 
	   <%= link_to 'Logout', 
	           :controller => 'login', 
	           :action => 'logout' %>
	</div>
	
	  <% if @user.management &&
	     ['client', 'employee', 'absence', 'project', 'holiday', 
	      'employment', 'projectmembership', 'overtime_vacation'].include?(params[:controller]) -%>
        <div id="submenu">
        Verwalte:
        &nbsp;
        <%= link_to 'Mitarbeiter', :controller => 'employee' %>
        &nbsp;
        <%= link_to 'Projekte', :controller => 'project' %>
        &nbsp;
        <%= link_to 'Kunden', :controller => 'client' %>
        &nbsp;
        <%= link_to 'Absenzen', :controller => 'absence' %>
        &nbsp;
        <%= link_to 'Feiertage', :controller => 'holiday' %>
        </div>
	  <% end -%>
	
	<% else -%>
	<div id="spacer"> </div>
	<% end -%>
	
	<h1><%= @title %></h1>
	
	<% if flash.has_key?(:notice) -%>
	<div id="notice"><%= flash[:notice] %></div>
	<% end -%>
	
    <%= @content_for_layout %>

    <br/>
    <br/>
</div>
</body>
</html>
