<html>
<head>
  <title>AdminEmployeeController: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'puzzletime', :media => 'all' %>
</head>
<body>
<div id="outer">

	<div id="upbg"></div>

	<div id="inner">

		<div id="header">
			<h1><span>puzzle</span>Time<sup>1.0</sup></h1>
			<h2>by puzzle itc</h2>
		</div>
	
		<div id="splash"></div>
	
			<div id="menu">
			<ul>
				<li class="first"><%= link_to 'Log out', :controller => 'login', :action => 'logout' %></li>
				<li><%= link_to 'Change your Password', :controller => 'employee', :action => 'changepasswd' %></li>
				<li><%= link_to 'Time', :controller => 'worktime', :action => 'list' %></li>
				<% if @user.management === true %>
				<li><%= link_to 'Project/Client',:controller => 'project', :action => 'list' %></li>
				<% end %>
			</ul>

		<div id="date"><%= Date.today %><br/>
		
		</div>
		</div>
<%= yield  %>


</body>

</html>
