-#  Copyright (c) 2006-2017, Puzzle ITC GmbH. This file is part of
-#  PuzzleTime and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/puzzle/puzzletime.


!!! 5
%html{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}
    %title= @title

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{:content => "no-cache", "http-equiv" => "pragma"}/
    %meta{:content => "no-cache", "http-equiv" => "cache-control"}/

    = favicon_link_tag "favicon.png"
    = stylesheet_link_tag 'print', media: 'all'

  %body
    = yield
