<html>
<head>
  <title>AdminProjectController: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'puzzletime', :media => 'all' %>
</head>
<body>
<div id="outer">

	<div id="upbg"></div>

	<div id="inner">

		<div id="header">
			<h1><span>puzzle</span>Time<sup>1.0</sup></h1>
			<h2>by puzzle itc</h2>
		</div>
	
		<div id="splash"></div>
	
			<div id="menu">
			<ul>
				<li class="first"><li class="first"><%= link_to 'Log out', :controller => 'login', :action => 'logout' %></li>
			    <li><%= link_to 'Change your Password', :controller => 'employee', :action => 'changePasswd' %></li>
				<li><%= link_to 'Time', :controller => 'worktime', :action => 'list' %></li>
				<li><%= link_to 'Employee', :controller => 'employee', :action => 'listEmployee' %></li>
			</ul>

		<div id="date"><%= Date.today %>
		</div>
		</div>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>
<br/>
<br/>

</body>
</html>
