%table.legend
  %tr
    %td{:colspan => "2"}
      %b Legende

  = render(:partial => 'graph/legend_item',
          :collection => [['Überplant', '#E39797'],
                          ['Unverplant', '#EFBCA3'],
                          ['Teilweise verplant', '#ECEBA0'],
                          ['Verplant', '#B0DAA5'],
                          ['Provisorische Planung', '#96CBD3'],
                          ['Definitive Planung', '#91C5E5'],
                          ['Abwesenheit', '#8FADCB' ]] )
