= render :partial => 'plannings/period_link'

= DryCrud::Table::Builder.table(@projects,
                                self,
                                class: 'table-condensed table-striped table-hover') do |t|
  - t.col('Projekt') { |p| p.label_verbose }
  - t.action_col do |p|
    = link_to 'Aktuelle Planung',
              :action => 'project_planning', :project_id => p.id
  - t.action_col do |p|
    = link_to 'Neue Planung',
              :action => 'new', :project_id => p.id
