:css
  .plannings-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
  }
  .plannings-day {
    border-right: 1px solid #eee;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: default;
  }
  .plannings-day.ui-selecting {
    background-color: lightgreen;
  }
  .plannings-day.ui-unselecting {
    background-color: lightpink;
  }
  .plannings-day.ui-selected {
    background-color: lightblue;
  }
  .plannings-panel {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
  }

.plannings-grid
  - for i in 0..10
    .plannings-row
      - for j in 0..30
        .plannings-day= j

.plannings-panel.panel.panel-default
  .panel-body
    .form-group
      Pensum
      %input{type: :text}
    .form-group
      Status
    .form-group
      Wiederholung
    .form-group
      %button.btn.btn-primary OK
